@charset "utf-8";
/* SCSS Document */

/* -----------------------------------------
        Activity Stream Component |START|
------------------------------------------*/

.as_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.dash_left {
    width: 80%;
}

.dash_right {
    width: 20%;
}

.scrollArrow {
    background-image: url("/assets/images/scroll_arrow.png");
    width: 40px;
    position: fixed;
    height: 40px;
    bottom: 0px;
    left: 30px;
    z-index: 9999;
    cursor: pointer !important;
}
.create_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7294117647058823);
    z-index: 9999;
}

/* -----------------------------------------
        Activity Stream Component |END|
------------------------------------------*/

@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {
    .dash_left {
        width: 75%;
    }
    .dash_right {
        width: 25%;
    }
}

@media (max-width: 1440px) {}

@media (max-width: 1366px) {
    .dash_left {
        width: 71%;
    }
    .dash_right {
        width: 29%;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

/* -----------------------------------------
         Activity Stream Component |END|
------------------------------------------*/