
<div class="table_head table_row">
  <div class="table-blocks">
    <span>Appraisal cycles</span>
  </div>
</div>
<section class="table-wrap">
<div class="table_list table_row">
    <section  class="t_row_hover">
  <div class="table-blocks ">
    <span class="leave_date_from">Annual Review 2017</span>
  </div>
  </section>
</div>
<div class="table_list table_row">
  <section  class="t_row_hover">
<div class="table-blocks ">
  <span class="leave_date_from">Communication Review</span>
</div>
</section>
</div>
</section>
