<div class="overlaypop" (click)="hideReviewDetailPop()"></div>
<div class="detail-pop">
  <div class="pop-head">
    <h4>Annual Review 2018</h4>
    <p>24 JUL 2018 <span>-</span> 24 AUG 2018</p>
    <div class="description">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <div class="pop-inner">
    <div class="accordion">
      <div class="accordion-head" (click)="showReviewDetail()" [ngClass]="{'accord_active': isValidated}">
        <h4>Communication</h4>
        <div class="arrow_drop"></div>
      </div>
      <div class="accordion-content" *ngIf="reviewDetail" >
        <p>How do you rate this person</p>
        <div class="review-drop-down">
          <input type="text" readonly (click)="showRatingList()">
          <div class="arrow"></div>/ 10
          <div class="overlay" *ngIf="ratingList" (click)="hideRatingList()"></div>
          <div class="drop-down" *ngIf="ratingList">
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
          </div>
        </div>
        <div class="description">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a type specimen book. </p>
        </div>

      <section class="rating">
        <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</b></p>
        <div class="rating-outer">
          <div class="rate-type">
            <label>
              <div class="check_outer">
                <input name="" type="radio" class="">
                <div class="check"></div>
              </div>
            </label>
            <span class="input-title">Excellence</span>
          </div>
          <div class="rate-type">
            <label>
              <div class="check_outer">
                <input name="" type="radio" class="">
                <div class="check"></div>
              </div>
            </label>
            <span class="input-title">Positive</span>
          </div>
          <div class="rate-type">
            <label>
              <div class="check_outer">
                <input name="" type="radio" class="">
                <div class="check"></div>
              </div>
            </label>
            <span class="input-title">Negative</span>
          </div>
        </div>
        <div class="comment-area">
          <textarea rows="5" placeholder="Comments:"></textarea>
        </div>
      </section>
      <section class="question">
        <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</b></p>
        <div class="comment-area">
          <input type="text" placeholder="Answer:">
        </div>
        <div class="comment-area">
          <textarea rows="5" placeholder="Comments:"></textarea>
        </div>
      </section>
    </div>
  </div>
  <div class="accordion">
      <div class="accordion-head" (click)="showManagementDetail()" [ngClass]="{'accord_active': isValidated}">
        <h4>Management</h4>
        <div class="arrow_drop"></div>
      </div>
      <div class="accordion-content" *ngIf="managementDetail" >
        <p>How do you rate this person</p>
        <div class="review-drop-down">
          <input type="text" readonly (click)="showRatingList()">
          <div class="arrow"></div>/ 10
          <div class="overlay" *ngIf="ratingList" (click)="hideRatingList()"></div>
          <div class="drop-down" *ngIf="ratingList">
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
          </div>
        </div>
        <div class="description">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a type specimen book. </p>
        </div>

      <section class="rating">
        <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</b></p>
        <div class="rating-outer">
          <div class="rate-type">
            <label>
              <div class="check_outer">
                <input name="" type="radio" class="">
                <div class="check"></div>
              </div>
            </label>
            <span class="input-title">Excellence</span>
          </div>
          <div class="rate-type">
            <label>
              <div class="check_outer">
                <input name="" type="radio" class="">
                <div class="check"></div>
              </div>
            </label>
            <span class="input-title">Positive</span>
          </div>
          <div class="rate-type">
            <label>
              <div class="check_outer">
                <input name="" type="radio" class="">
                <div class="check"></div>
              </div>
            </label>
            <span class="input-title">Negative</span>
          </div>
        </div>
        <div class="comment-area">
            <label>Comments:</label>
          <textarea rows="5" placeholder=""></textarea>
        </div>
      </section>
      <section class="question">
        <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</b></p>
        <div class="comment-area">
          <label>Answer:</label>
          <input type="text" placeholder="">
        </div>
        <div class="comment-area">
          <label>Comments:</label>
          <textarea rows="5" placeholder=""></textarea>
        </div>
      </section>
    </div>
  </div>
  </div>
  <div class="pop-footer">
    <div class="pbtncreate">Submit</div>
    <div class="req-cancel">Save</div>
    <div class="req-cancel" (click)="hideReviewDetailPop()">Cancel</div>
  </div>
</div>
