<div class="drive_wrap">
  <div class="table_outer_block Content">
    <div class="table_head table_row" (click)="showDetailPop()">
      <div class="table-blocks">
        <div class="checkbox" >
          <label>
            <div class="check_outer">
              <input type="checkbox" id="1_in" name="" id=""/>
              <div class="check" for="1_in"></div>
            </div>
          </label>
        </div>
      </div>
      <div class="table-blocks Profile">
        <div class="avatar"></div>
        <span>Waylon Dalton</span>
    </div>
      <div class="table-blocks Organisation">
        <div class="phone">
          <div class="phoneIcon"></div>
          <div>1234567890</div>
        </div>
        <div class="mail">
          <div class="mailIcon"></div>
          <div>waylon@mail.com</div>
        </div>
      </div>

      <div class="table-blocks">
        <span>Partner manager</span>
      </div>
      <div class="table-blocks Date">
        <div class="atc_btn" (click)="showPermission()">Permissions</div>
      </div>
      <div class="table-blocks clickButton">
        <div class="overlay" *ngIf="superAdminDataService.more.show"  (click)=closePop()></div>
        <div class="dotImage"  (click)="morepop()"></div>
        <div class="moreOuter" *ngIf="superAdminDataService.more.show" >
            <app-more-option></app-more-option>
        </div>
      </div>
    </div>
    <div class="table_head table_row">
      <div class="table-blocks">
        <div class="checkbox" >
          <label>
            <div class="check_outer">
              <input type="checkbox" id="1_in" name="" id=""/>
              <div class="check" for="1_in"></div>
            </div>
          </label>
        </div>
      </div>
      <div class="table-blocks Profile">
        <div class="avatar"></div>
        <span>Waylon Dalton</span>
    </div>
      <div class="table-blocks Organisation">
        <div class="phone">
          <div class="phoneIcon"></div>
          <div>1234567890</div>
        </div>
        <div class="mail">
          <div class="mailIcon"></div>
          <div>waylon@mail.com</div>
        </div>
      </div>

      <div class="table-blocks">
        <span>Partner manager</span>
      </div>
      <div class="table-blocks Date">
        <div class="atc_btn">Permissions</div>
      </div>
      <div class="table-blocks clickButton" >
          <div class="overlay" *ngIf="superAdminDataService.more.show"  (click)="closePop()"></div>
        <div class="dotImage" (click)="morepop()"></div>
        <div class="moreOuter" *ngIf="superAdminDataService.more.show" >
            <app-more-option></app-more-option>
        </div>
      </div>
    </div>

  </div>

</div>
<app-permissions-popup *ngIf="superAdminDataService.permissionPop.show" ></app-permissions-popup>
<app-sub-admin-detail *ngIf="superAdminDataService.subAdminDetailPop.show" ></app-sub-admin-detail>
