ul,
ol {
    list-style-type: none;
}
.fp_sectionBreak {
    margin: 40px 0px 20px 0px;
    border-top: 1px solid #bac0c7;
    border-bottom: 1px solid #bac0c7;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.fp_sectionBreak h4 {
    color: #414d5b;
    margin-bottom: 10px;
}

.fp_sectionBreak p {
    color: #7e8995;
    font-size: 14px;
}