ul,
ol {
    list-style-type: none;
}
.drive_wrap{
    position: relative;
}

@media (max-width:1366px){
    .table_head .table-blocks span {
        position: relative;
        padding-right: 25px;
        cursor: pointer;
        font-family: roboto-regular;
        font-size: 13px;
    }
}
.Content .table_head .table-blocks span:after{
    display: none;
}
.Content .table_head.table_row .table-blocks {
    background: #fff !important;
    position: relative;
    border-bottom: none;
    padding-top: 11px;
    height: 100%;
    cursor: pointer;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    // overflow: hidden;
    white-space: nowrap;
}
.moreoptionOverlay {
    //content: '';
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 999999;
}
.Content .table_head.table_row {
    background: #fff;
    height: 100%;
    position: relative;
}
.Profile span {
    padding-left: 50px;
    color: #178ccb;
}
.Content .table-blocks.clickButton {
    width: 30px;
    cursor: pointer;
    height: 65px !important;
}
.filter_cancel_overlay {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9;
}
.avatar {
    background-image: url("/assets/images/account-dp.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    display: inline-block;
    top: 17px;
    position: absolute;
}
.table_head.table_row .table-blocks {
    background-color: #f6f6f6;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #e5e7f0;
    font-family: roboto-regular;
}
.table_head .table-blocks {
    color: #536273;
    font-weight: bold;
    font-size: 13px;
    font-family: roboto-regular!important;
}
.table_head.table_row .table-blocks:nth-child(2) {
    width: 20%;
}
.table-blocks.Organisation {
    width: 20%;
}
.table_head .table-blocks:nth-child(4) {
    width: 15%;
}
.table_head.table_row .table-blocks:nth-child(5) {
    width: 17%;
}
.table-blocks:nth-child(6) {
    width: 15%;
}
.table-blocks:nth-child(7) {
    width: 11%;
}
.table_row .table-blocks:nth-child(1) {
    width: 5%;
    text-align: center;
}
.table_head {
    background-color: #f6f6f6;
    height: 45px;
    line-height: 44px;
    border-bottom: 1px solid #e5e7f0;
    border-top: 1px solid #e5e7f0;
}

.table-blocks {
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    height: 70px;
    line-height: 70px;
    color: #424e5c;
}
.check_outer {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
}
.dotImage {
    width: 20px;
    height: 20px;
    background-image: url("/assets/images/more.png");
    display: inline-block;
    vertical-align: middle;
    /* border-radius: 50%; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 3%;
    position: absolute;
    top: 19px;
    background-size: contain;
    left: 0px;
    cursor: pointer;
}
.Date span:hover {
    color: #ff2342;
    transition: all 0.2s ease-in;
}
