.bday_widget {
    margin-top: 20px;
}
.dash_righ_wrap
{
    position: relative;
}
.inact_ov
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000036;
    z-index: 11111;
}