ul,
ol {
    list-style-type: none;
}
@media (max-width: 1366px){
    .iCosys-body-wrapper {
        padding-left: 234px;
        padding-top: 80px;
        padding-right: 15px;
        transition: all .2s ease-in-out;
        position: relative;
        width: 100%;
        height: 100%;
    }
}
.panel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 0 !important;
    position: relative;
}
.panel-heading {
    padding-left: 20px;
    height: 75px;
    line-height: 75px;
    transition: all .2s ease-in-out;
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 0;
}
.panel-heading .panel-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    font-family: roboto-bold;
}
@media (max-width: 1366px)
{
    .panel-heading .panel-title {
        font-size: 16px;
        transition: all .2s ease-in-out;
    }
    .panel-right-holder button {
        margin-right: 20px;
        transition: all .2s ease-in-out;
    }
    .pbtnfilter {
        line-height: 34px;
        height: 34px;
        min-width: 100px;
        font-size: 12px;
    }
}
.pbtnfilter {
    width: 117px;
    background-color: #ff2e4c;
    color: #fff;
    border: 0px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
button {
    cursor: pointer;
}
.panel-right-holder {
    float: right;
    width: 50%;
    text-align: right;
}
.pbtnsinline {
    display: inline-block;
}

.ph3inline {
    display: inline-block;
}
.nav_wrap {
    background-color: white;
}
.nav_wrap ul {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
@media (max-width: 1366px)
{
    .nav_wrap ul li {
        margin: 0px 25px;
        padding: 20px 0px 20px 0px;
    }
}
@media (max-width: 1460px)
{
    .nav_wrap ul li {
        font-size: 13px;
    }
}
// .nav_wrap ul li {
//     text-decoration: none;
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0px 35px;
//     padding: 25px 0px 25px 0px;
//     border-bottom: 4px solid transparent;
//     cursor: pointer;
//     color: #75818f;
// }
.active {
    border-bottom: 3px solid #ff2e4c !important;
    font-weight: bold;
    color: #424e5c !important;
}
// .nav_wrap ul li:hover {
//     border-bottom: 3px solid #ff2e4c;
// }

.table_row .table-blocks:nth-child(1) {
    width: 5%;
    text-align: center;
}


.check_outer {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
}
.table-blocks.Organisation {
    width: 44%;
}

.table_head .table-blocks:nth-child(4) {
    width: 14%;
}
.table_head .table-blocks:nth-child(5) {
    width: 13.5%;
    /* font-family: roboto-regular!important; */
}
.table_head .table-blocks:nth-child(6) {
     font-family: roboto-regular!important;
}
.table_outer_block .table_head .table-blocks span:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #dde2e7;
    right: 0;
    top: 5px;
}

.table_outer_block .table_head .table-blocks .tb_head_drop_arrow:after{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #536273;
    right: 0;
    top: 5px;
}
.table_row_pic {
    width: 30px;
    height: 30px;
    background-image: url("/assets/images/account-dp.png");
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 3%;
    position: absolute;
    top: 19px;
    left: 0;
}
.table_row_pic_name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 86%;
    padding-left: 40px;
    padding-right: 40px;
    font-family: roboto-light;
    color: #536273;
}
.drive_wrapDetail {
    font-family: roboto-regular;
    cursor: pointer;
}

.table_head .table-blocks:nth-child(3) {
    width: 13%;
}
.drive_wrapDetail .table_head.table_row {
    background-color: #fff;
}
.drive_wrapDetail .table_head.table_row .table-blocks {
    background-color: #fff !important;
}
.drive_wrapDetail .table_head {
    height: 70px;
    border-bottom: 1px solid #e5e7f0;
}
.drive_wrapDetail .table_head.table_row .table-blocks {
    background-color: #fff !important;
    border-bottom: none;
    line-height: 70px;
}
.dotImage {
    width: 20px;
    height: 20px;
    background-image: url("/assets/images/more.png");
    display: inline-block;
    vertical-align: middle;
    /* border-radius: 50%; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 3%;
    position: absolute;
    top: 19px;
    background-size: contain;
    left: 75px;
}
.modalOuter {
    position: fixed;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 14;
    width: 100%;
    top: 0px;
    left: 0px;
}

.form_submit_wrap {
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    margin: -250px -250px;
    background: white;
    border-radius: 0px;
    background: white;
    z-index: 9999;
    height: 500px;
    overflow: auto;
    box-shadow: -1px -1px 20px 0px;
}
.form_submit_modal {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.fs_header h4 {
    color: #697583;
    font-family: Roboto-Regular;
    font-size: 13px;
    text-align: left;
}
.pop_close {
    background-image: url("/assets/images/pop_close.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    cursor:pointer;
}
.headerOuter {
    display: flex;
    justify-content: space-between;
    padding-right: 2.5%;
    padding-top: 2.5%;
    border-bottom: 1px solid #e8eaec;
}
.fs_header {
    padding: 8px 20px 20px 20px;
}
.form_submit_modal .nav_wrap {
    border-bottom: 1px solid #e8eaec;
}
.form_submit_modal .nav_wrap ul li{
    padding: 13px 0px 13px 0px;
}
.fs_footer {
    height: 60px;
    padding: 15px 0px 0px 20px;
    display: inline-block;
    width: calc(100% - 249px);
    box-shadow: -10px -20px 68px -28px rgba(34, 34, 34, 0.35);
    background: #fff;
    z-index: 9;
    border-top: 1px solid #bac0c7;
    margin-top: 0%;
    position: fixed;
    bottom: 0px;
}
.fs_footer_next {
    height: 30px;
    outline: none;
    border: none;
    width: 117px;
    background-color: #ff2342;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-top: 0px;
    font-family: roboto-medium;
}
.fs_footer_cancel {
    height: 30px;
    outline: none;
    border: 1px solid #536273;
    width: 117px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 500;
    color: #536273;
    font-family: roboto-medium;
}
.fs_footerBox
{
    background: #fff;
    position: absolute;
    top: 0px !important;
    font-size: 14px;
    left: 0px;
    color: #536273;
    padding: 3% 4% !important;
    width: 100%;
    height: 100%;
}
p.profileContent {
    margin-left: 1%;
    margin-top: 1%
}
.tableDetailOuterBottom.mailContent , .tableDetailOuterBottomLast.mailContent {
    width: 100%;
    margin: 4%;
}
.tableDetailBottom.Top {
    padding-bottom: 0px;
    // border-bottom: 1px solid #e8eaec;
}
.fs_footer .fs_footer_cancel {
    margin-left: 20px;
}
.expired
{
  color: #ff2342  !important;
}
.actve
{
  color: #35cf9d   !important;
}
.inactve
{
  color: #75818f   !important;

}
.tableDetailOuter {
    padding: 25px;
    font-family: roboto-regular;
    color: #75818f;
    display: inline-block;
    padding-top: 4%;
    margin-bottom: 3%;
    width: 22%;
    padding-right: 0%;
}
.req-cancel {
  line-height: 30px;
  width: auto;
  color: #76828f;
  border:1px solid #76828f;
  padding: 0 10px;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  transition: all ease 0.2s;
  background-color: #fff;
}
.tableDetailOuterBottom , .tableDetailOuterBottomLast {
    width: 100%;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
}
.tableDetailOuterBottom::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 0px;
    height: 75px;
    border-left: 1px dotted #4c99f4;
    width: 1px;
    // background: #e8e9e9;
    z-index: 0;
}
.start::before
{
  content: "";
  position: absolute;
  left: 7px;
  top: 0px;
  height: 75px;
  border-left: 1px dotted #35cf9d;
  width: 1px;
  // background: #e8e9e9;
  z-index: 0;
}
.tableContent:hover {
    color: #acb3bb;
}
.left_status.Blue {
    background-image: url("/assets/images/blue.png");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
}

.Dark{
    background-image: url("/assets/images/dark.png");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
}
.left_status.Green {
    background-image: url("/assets/images/green.png");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
}
.left_status.Red {
    background-image: url("/assets/images/red.png");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
}
.licenseContentOuter {
    display: inline-block;
    width: 100%;
}
.tableContent:nth-child(6) {
    /* color: red; */
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.licenseOuter {
    overflow-y: auto;
    display: flex;
    height: 100vh;
    width: 100%;
}
.tableDetail {
    font-size: 12px;
    color: #a0a8b1;
    font-family: roboto-regular;
}

.licenseContentOuter{
    height: 292px
}
.tableContent {
    font-size: 14px;
    margin-top: 3%;
    color: #536273;
    font-family: roboto-regular;
    margin-bottom: 30px;
    position: relative;
}
.tableDetailBottom {
    /* display: flex; */
    padding: 0px 20px;
    justify-content: space-between;
    padding: 4%;
    width: 50%;
    display: inline-block;
    margin-right: -4px;
}
.form_submit_wrap .tableDetailOuter:nth-child(5) {
    margin-top: 30px;
    margin-bottom: 21px;
}

.tableContentProfile {
    display: flex;
    margin-top: 2%;
}
p.profileImage {
    background-image: url("/assets/images/account-dp.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 50%;
}
.detailsOuter {
    margin: 0%;
}
.employee_image
{
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(/assets/images/all/tdp1.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
}
.employee_name
{
  text-decoration: none;
  color: #006df0;
  padding-left: 40px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  position: relative

}
@media screen and (max-width:1366px)
{
  .licenseOuter {
    overflow-y: auto;
    height: 400px;
}
}
