<div class="overlaypop" (click)="hideLicenseHistory()"></div>
<div class="licene-history-pop">
<div class="history-head">
  <h4>License History</h4>
  <div class="pop_close" (click)="hideLicenseHistory()"></div>
</div>
  <div class="train-table">
    <div class="table_head table_row" >
        <div class="table-blocks">
          <span>TYPE</span>
        </div>
        <div class="table-blocks">
          <span>MAX USERS</span>
        </div>
        <div class="table-blocks">
          <span>REQUESTED ON</span>
        </div>
        <div class="table-blocks">
          <span>APPROVED ON</span>
        </div>
        <div class="table-blocks">
          <span>STARTED ON</span>
        </div>
        <div class="table-blocks">
         <span>EXPIRED ON</span>
        </div>

      </div>
    <section class="table-wrap">
        <div class="table_list table_row">
            <section  class="t_row_hover">
          <div class="table-blocks ">
            <span class="leave_date_from">Annual</span>
          </div>
          <div class="table-blocks ">
            <span class="leave_date_from">100</span>
          </div>
          <div class="table-blocks ">
            <span class="leave_date_from">10 Jul 2018 <span class="pipe"></span> 10:30 AM</span>
          </div>
          <div class="table-blocks ">
            <span class="leave_date_from">10 Jul 2018 <span class="pipe"></span> 10:30 AM</span>
          </div>
          <div class="table-blocks ">
            <span class="leave_date_from">10 Jul 2018 <span>Upcoming</span></span>
          </div>
          <div class="table-blocks ">
            <span class="leave_date_from">10 Jul 2018 <span>Ongoing</span> </span>
          </div>
          </section>
        </div>
        </section>

    <section class="table-wrap">
      <div class="table_list table_row">
          <section  class="t_row_hover">
        <div class="table-blocks ">
          <span class="leave_date_from">Annual</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">100</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018 <span class="pipe"></span> 10:30 AM</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018 <span class="pipe"></span> 10:30 AM</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018<span class="green">Upcoming</span> </span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from "><span class="red">10 Jul 2018</span> <span>Ongoing</span></span>
        </div>
        </section>
      </div>
      </section>

    <section class="table-wrap">
      <div class="table_list table_row">
          <section  class="t_row_hover">
        <div class="table-blocks ">
          <span class="leave_date_from">Annual</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">100</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018 <span class="pipe"></span> 10:30 AM</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018 <span class="pipe"></span> 10:30 AM</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018 </span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018  </span>
        </div>
        </section>
      </div>
      </section>

    <section class="table-wrap">
      <div class="table_list table_row">
          <section  class="t_row_hover">
        <div class="table-blocks ">
          <span class="leave_date_from">Annual</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">100</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018 <span class="pipe"></span> 10:30 AM</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018 <span class="pipe"></span> 10:30 AM</span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018 </span>
        </div>
        <div class="table-blocks ">
          <span class="leave_date_from">10 Jul 2018  </span>
        </div>
        </section>
      </div>
      </section>
   </div>

</div>
