ul,
ol {
    list-style-type: none;
}
@media (max-width: 1366px){
    .iCosys-body-wrapper {
        padding-left: 234px;
        padding-top: 80px;
        padding-right: 15px;
        transition: all .2s ease-in-out;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .content {
        overflow-y: auto;
        height: 459px !important;
        background: #fff;
        width: 96% !important;
    }

    .fs_header h4 {
        font-size: 14px !important;
    }
    .fs_footer_next  , .fs_footer_cancel{
        font-size: 13px !important;
        font-weight: 600 !important;
    }
    .fs_footer {
        height: 57px;
        padding: 12px 0px 0px 20px;
        display: flex;
        position: absolute;
        width: 100%;
        box-shadow: -10px -20px 68px -28px rgba(34, 34, 34, 0.35);
        background: #fff;
        z-index: 9;
        border-top: 1px solid #bac0c7;
        margin-top: 0%;
        bottom: 85px !important;
    }
    .content input , .content textarea {
        width: 100%;
        height: 50px !important;
        padding-left: 20px;
        background-color: #f1f1f1;
        outline: none;
        border: none;
    }
    .form_submit_modal .content desc {
        width: 100%;
        height: 150px !important;
        padding-left: 20px;
    }
    .form_submit_wrap {
        position: fixed;
        top: 85px  !important;
        right: 16px  !important;
        background-color: #fff;
        width: calc(100% - 250px)  !important;
        height: 100%  !important;
        z-index: 999999999;
    }
    .content {
        overflow-y: auto;
        height: 459px !important;
        background: #fff;
        width: 50%;
    }
}
.content {
    margin: 0px 20px;
}
.form_submit_wrap {
    position: fixed;
    top: 110px;
    right: 21px;
    background-color: #fff;
    width: calc(100% - 305px);
    height: 50%;
    z-index: 999999999;
}

.form_submit_modal {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.fs_header {
    padding: 30px 20px 15px 20px;
}
.fs_header h4 {
    color: #103564;
    font-family: Roboto-Regular;
    font-size: 16px;
    text-align: center;
    height: 100%;
    line-height: 100%;
}

.content input , .content textarea{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    background-color: #f1f1f1;
    outline: none;
    border: none;
    margin-bottom: 0px;
    margin-top: 2%;
    cursor: text;
}
.form_submit_modal .content textarea.desc {
    height: 150px !important;
    padding-top: 20px;
    margin-bottom: -20px;
}
.content desc{
    width: 100%;
    height: 120px;
    padding-left: 20px;
    background-color: #f1f1f1;
    outline: none;
    border: none;
    margin-bottom: 10px;
    margin-top: 2%;
    cursor: text;
}
.fs_footer {
    height: 57px;
    padding: 12px 0px 0px 20px;
    display: flex;
    position: absolute;
    width: 100%;
    box-shadow: -10px -20px 68px -28px rgba(34, 34, 34, 0.35);
    background: #fff;
    z-index: 9;
    border-top: 1px solid #bac0c7;
    margin-top: 0%;
    bottom: 0px;
}
.fs_footer_next {
    height: 32px;
    outline: none;
    border: none;
    width: 100px;
    background-color: #ff2342;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}
.fs_footer_cancel {
    height: 32px;
    outline: none;
    border: 1px solid #536273;
    width: 100px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 600;
    color: #536273;
}

.overlaypop {
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.error {
  margin-bottom: 0px;
  font-size: 13px;
  color: #d9463b;
  padding-left: 10px;
  text-align: left;
  line-height: 20px;
}