<div class="compwrap">
  <div class="login_widget">
    <div class="widget_date_time">
      <div class="widget_time fleft">
        {{date | date:'hh : mm a' }}
      </div>
      <div class="widget_date fright">
        {{date | date:'dd MMMM yyyy'}}
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="widget_welcome">
      <p>{{greet}}</p>
      Reset your password
    </div>
    <div class="widget_welcome">
      <p>Reset Password</p>
      Reset your password here
    </div>
  </div>
  <div class="loginerrormsg" [hidden]="!error">
    <p>{{error}}</p>
  </div>
  <div [hidden]="!success" class="forg_sucess_msg">
    <p>{{success}}</p>
  </div>
  <div class="login_form_container">
    <form (submit)="resetPassword()">
      <div class="input_wrapper">
        <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password">
      </div>
      <div class="input_wrapper log_btn_wrap">
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
        <button class="login_button">Reset Password</button>
      </div>
    </form>
  </div>
</div>