.loginerrormsg {
  height: 50px;
  line-height: 50px;
  background-color: #ff2342;
  color: #fff;
  width: 584px;
  padding-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  transition: all .2s ease-in-out;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  font-family: roboto-regular;
}
.widget_date_time {
  font-family: roboto-regular;
}

@media only screen and (max-width: 1367px) {
  .loginerrormsg {
    width: 420px;
    font-family: roboto-regular;
  }
}