<section class="as_content">
  <div class="as_content_sector">
    <div class="as_content_header">
      <div class="h_left">
        <img [src]="assetUrl+'assets/images/as/user.png'" />
        <h4 class="user">Stella Little</h4>
      </div>
      <div class="h_right">
        <h6>3 Hours ago</h6>
        <img [src]="assetUrl+'assets/images/more.png'" />
      </div>
    </div>
    <div class="as_content_body">
      <h4>A new employee has been added</h4>
      <div class="emp_block geen">
        <img [src]="assetUrl+'assets/images/as/user_1.png'" />
        <div class="emp_details">
          <h4>Steve Rogers</h4>
          <p>Developer</p>
        </div>
      </div>
    </div>
    <div class="as_content_footer">
      <div class="like">
        <div class="like_iconbg like_icon"></div>
        <div class="like_count">
          4
        </div>
      </div>
      <div class="comment">
        <div class="comment_icon">
          <img [src]="assetUrl+'assets/images/as/comment.png'" />
        </div>
        <div class="comment_count">4</div>
      </div>
      <div class="reply">
      </div>
    </div>
  </div>
</section>
<section class="as_content">
  <div class="as_content_sector">
    <div class="as_content_header">
      <div class="h_left">
        <img [src]="assetUrl+'assets/images/as/user.png'" />
        <h4 class="user">Stella Little</h4>
      </div>
      <div class="h_right">
        <h6>3 Hours ago</h6>
        <img [src]="assetUrl+'assets/images/more.png'" />
      </div>
    </div>
    <div class="as_content_body report_modification">
      <h4 class="modified_title">Modified
        <span>Report for 7 May - 30 May</span>
      </h4>
      <div class="emp_block red">
        <div class="from">
          <p class="from_text">From:</p>
          <img [src]="assetUrl+'assets/images/as/user_1.png'" />
          <div class="emp_details">
            <h4>Steve Rogers</h4>
            <p>Developer</p>
          </div>
        </div>
        <div class="to">
          <p class="to_text">To:</p>
          <img [src]="assetUrl+'assets/images/as/user.png'" />
          <div class="emp_details">
            <h4>Stella Little</h4>
            <p>Developer</p>
          </div>
        </div>
      </div>
      <h4 class="modified_tail">Report Confirmed, marked
        <span>Negetive</span>
      </h4>
    </div>
    <div class="as_content_footer">
      <div class="like">
        <div class="like_iconbg like_icon"></div>
        <div class="like_count">
          4
        </div>
      </div>
      <div class="comment">
        <div class="comment_icon">
          <img [src]="assetUrl+'assets/images/as/comment.png'" />
        </div>
        <div class="comment_count">4</div>
      </div>
      <div class="reply">
      </div>
    </div>
  </div>
</section>
<section class="as_content">
  <div class="as_content_sector">
    <div class="as_content_header">
      <div class="h_left">
        <img [src]="assetUrl+'assets/images/as/user.png'" />
        <h4 class="user">Stella Little</h4>
      </div>
      <div class="h_right">
        <h6>3 Hours ago</h6>
        <img [src]="assetUrl+'assets/images/more.png'" />
      </div>
    </div>
    <div class="as_content_body report_modification">
      <h4 class="modified_title">Has changed work parameters
        <span>Confirmation Required - Working Time Management</span>
      </h4>
      <div class="emp_block blue">
        <div class="from">
          <p class="from_text">From:</p>
          <img [src]="assetUrl+'assets/images/as/user_1.png'" />
          <div class="emp_details">
            <h4>Steve Rogers</h4>
            <p>Developer</p>
          </div>
        </div>
        <div class="to">
          <p class="to_text">To:</p>
          <img [src]="assetUrl+'assets/images/as/user.png'" />
          <div class="emp_details">
            <h4>Stella Little</h4>
            <p>Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="as_content_footer">
      <div class="like">
        <div class="like_iconbg like_icon"></div>
        <div class="like_count">
          4
        </div>
      </div>
      <div class="comment">
        <div class="comment_icon">
          <img [src]="assetUrl+'assets/images/as/comment.png'" />
        </div>
        <div class="comment_count">4</div>
      </div>
      <div class="reply">
      </div>
    </div>
  </div>
</section>