<section class="as_content" *ngIf="data.type == 'appreciation'">
  <div class="as_content_sector">
    <div class="as_content_header">
      <div class="h_left">
        <img *ngIf="data.appreciation.aprCreatorImageUrl === null" [src]="assetUrl+'assets/images/all/tdp1.png'" />
        <img *ngIf="data.appreciation.aprCreatorImageUrl !== null" [src]= "data.appreciation.aprCreatorImageUrl"/>
        <div class="user_name_list">
          <span class="blue">
            {{data.appreciation.aprCreatorName}}
          </span>
          <span class="bt_arw">
            <img [src]="assetUrl+'assets/images/right_arrow.png'" />
          </span>
          <span class="grey_1" *ngIf="data.appreciation.toAllEmployee == true">
            To all Employees
          </span>
          <span *ngIf="data.appreciation.toAllEmployee == false">
            <span class="grey_1" *ngFor="let toUser of data.appreciation.toUsers | slice:0:2;let i = index">
              {{toUser.userName}}{{i === data.appreciation.toUsers.length - 1 ?'':','}}
            </span>
            <span *ngIf="data.appreciation.toUsers.length > 2" class="user_more_block" (click)="actStreamDataService.userCount[index] = !actStreamDataService.userCount[index]">
              + {{data.appreciation.toUsers.length - 2}}
            </span>
          </span>
          <!-- User Count Pop Up -->
          <div class="filter_cancel_overlay"  *ngIf="actStreamDataService.userCount[index]" (click)="actStreamDataService.userCount[index] = false"></div>
          <div class="user_count_pop" *ngIf="actStreamDataService.userCount[index]">
            <div class="user_count_pop_header">
              <h6>Users</h6>
              <a class="copy_option_close" (click)="actStreamDataService.userCount[index] = false">&times;</a>
            </div>
            <div class="user_count_pop_body">
              <div *ngFor="let user of data.appreciation.toUsers" class="user_count_list">
                <div *ngIf="user.userImageUrl === null" class="user_count_list_dp"></div>
                <div *ngIf="user.userImageUrl !== null" class="user_count_list_dp" [ngStyle]="{'background-image': 'url(' + user.userImageUrl + ')'}"></div>
                {{user.userName}}
              </div>
            </div>
          </div>
          <!-- User Count Pop Up -->
        </div>
      </div>
      <div class="h_right">
        <h6>{{data.appreciation.createdAt * 1000 | date: 'MMM dd, yyyy, hh:mm a'}}</h6>
        <div class="opt_r" *ngIf="data.appreciation.aprCreatorSlug === loggedUser" (click)="actStreamDataService.optionBtn[index] = !actStreamDataService.optionBtn[index]">
          <img [src]="assetUrl+'assets/images/more.png'" />
          <div class="overlaypop" *ngIf="actStreamDataService.optionBtn[index]" (click)="!actStreamDataService.optionBtn[index]"></div>
          <div class="edt_opt_r" *ngIf="actStreamDataService.optionBtn[index]">
            <section (click)="updateAppreciation()">
              Edit
            </section>
            <section (click)="deleteAppreciation()">
              Delete
            </section>
          </div>
        </div>
      </div>
      <div class="confirm_popup" *ngIf="actStreamDataService.deletePopUp[index]" (click)="cancelDelete()">
        <div class="confirm_pop_body">
          <section>
            <div class="close_drop" (click)="cancelDelete()">
            </div>
            <p class="pop_main">{{actStreamDataService.deleteMessage.msg}}</p>
          </section>
          <section>
            <div class="confirm_pop_btn" (click)="conformAppreciationDelete()">
              Confirm
            </div>
            <div class="confirm_pop_btn" (click)="cancelDelete()">
              Cancel
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="as_content_body appreciation">
      <h4>{{data.appreciation.aprTitle}}</h4>
      <p [innerHTML]="data.appreciation.aprDesc"></p>
      <div class="confetti">
        <img [src]="assetUrl+'assets/images/as/confetti.png'" />
      </div>
      <div class="appreciation_holder">
        <div class="trophy">
          <img [src]="assetUrl+'assets/images/as/trophy.png'" />
        </div>
        <div class="right_arrow">
          <img [src]="assetUrl+'assets/images/as/right_arrow.png'" />
        </div>
        <div class="empl_detail">
          <span class="grey_1" *ngFor="let recipient of data.appreciation.recipients | slice:0:3;let i = index">
            <img *ngIf="recipient.userImageUrl === null" [src]="assetUrl+'assets/images/all/tdp1.png'"/>
            <img *ngIf="recipient.userImageUrl !== null" [src]= "recipient.userImageUrl"/>{{recipient.userName}}{{i === data.appreciation.recipients.length - 1 ?'':','}}
          </span>
          <span *ngIf="data.appreciation.recipients.length > 3" class="user_more_block" (click)="actStreamDataService.recipientCount[index] = !actStreamDataService.recipientCount[index]">
            + {{data.appreciation.recipients.length - 3}}
          </span>
          <!-- User Count Pop Up -->
          <div class="filter_cancel_overlay" *ngIf="actStreamDataService.recipientCount[index]" (click)="actStreamDataService.recipientCount[index] = false"></div>
          <div class="user_count_pop" *ngIf="actStreamDataService.recipientCount[index]">
            <div class="user_count_pop_header">
              <h6>Recipient</h6>
              <a class="copy_option_close" (click)="actStreamDataService.recipientCount[index] = false">&times;</a>
            </div>
            <div class="user_count_pop_body">
              <div *ngFor="let recipient of data.appreciation.recipients" class="user_count_list">
                  <div *ngIf="recipient.userImageUrl === null" class="user_count_list_dp"></div>
                  <div *ngIf="recipient.userImageUrl !== null" class="user_count_list_dp" [ngStyle]="{'background-image': 'url(' + recipient.userImageUrl + ')'}"></div>
                {{recipient.userName}}
              </div>
            </div>
          </div>
          <!-- User Count Pop Up -->
        </div>
      </div>
    </div>
    <div class="as_content_footer">
      <div class="like">
        <div class="like_iconbg like_icon" [ngClass]="{'active': data.appreciation.yourAprResponse === 'like'}" (click)="appreciationResponse()">
        </div>
        <div class="like_count">
          {{responseCount}}
        </div>
      </div>
      <div class="comment">
        <div class="comment_icon" (click)="getAppreciationComments()">
          <img [src]="assetUrl+'assets/images/as/comment.png'" />
        </div>
        <div (click)="getAppreciationComments()" class="comment_count">{{commentCount}}</div>
      </div>
    </div>
    <section class="comments_wrap" *ngIf="actStreamDataService.comments[index]">
      <div class="commented" *ngFor="let comment of data.comments;let idx = index" [hidden]="comment.aprParentCommentSlug !== null">
        <div class="commented_header">
          <img *ngIf="comment.commentCreatorImageUrl === null" [src]="assetUrl+'assets/images/all/tdp1.png'" />
          <img *ngIf="comment.commentCreatorImageUrl !== null" [src]="comment.commentCreatorImageUrl" />
          <h4>{{comment.commentCreatorUserName}}</h4>
          <div *ngIf="loggedUser === comment.commentCreatorUserSlug" class="d_eopt" (click)="actStreamDataService.cmtOptionBtn[idx] = !actStreamDataService.cmtOptionBtn[idx]">
            <img [src]="assetUrl+'assets/images/more.png'" />
            <div class="filter_cancel_overlay" *ngIf="actStreamDataService.cmtOptionBtn[idx]" (click)="!actStreamDataService.cmtOptionBtn[idx]"></div>
            <div class="edt_opt_r" *ngIf="actStreamDataService.cmtOptionBtn[idx]">
              <section (click)="deleteComment(idx)">
                Delete
              </section>
              <section (click)="updateComment(comment)">
                Edit
              </section>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="confirm_popup" *ngIf="actStreamDataService.deleteCommentPopUp[idx]">
          <div class="confirm_pop_body">
            <section>
              <div class="close_drop" (click)="cancelDelete()">
              </div>
              <p class="pop_main">{{actStreamDataService.deleteMessage.msg}}</p>
            </section>
            <section>
              <div class="confirm_pop_btn" (click)="conformDeleteComment(comment)">
                Confirm
              </div>
              <div class="confirm_pop_btn" (click)="cancelDelete()">
                Cancel
              </div>
            </section>
          </div>
        </div>
        <div class="commented_body">
          <p>{{comment.comment}}</p>
        </div>
        <div class="comment_footer">
          <div class="like">
            <div class="like_iconbg like_icon" [ngClass]="{'active': comment.yourCommentResponse === 'like'}" (click)="commentResponse(comment, idx)"></div>
            <div class="like_count">
              {{comment.commentResponses.length}}
            </div>
          </div>
          <div class="reply">
              <div class="reply_icon" (click)="getCommentReply(comment, idx)">
                <img [src]="assetUrl+'assets/images/as/reply.png'" />
              </div>
              <div (click)="getCommentReply(comment, idx)" class="reply_count">{{comment.replyCount}}</div>
            </div>
        </div>
        <section class="comments_wrap" *ngIf="actStreamDataService.reply[idx]">
          <div class="commented" *ngFor="let reply of data.comments[idx].reply;let i = index" [hidden]="reply.aprParentCommentSlug === null">
            <div class="commented_header">
              <img *ngIf="reply.commentCreatorImageUrl === null" [src]="assetUrl+'assets/images/all/tdp1.png'" />
              <img *ngIf="reply.commentCreatorImageUrl !== null"[src]="reply.commentCreatorImageUrl" />
              <h4>{{reply.commentCreatorUserName}}</h4>
              <div *ngIf="loggedUser === reply.commentCreatorUserSlug" class="d_eopt" (click)="actStreamDataService.replyOption[i] = !actStreamDataService.replyOption[i]">
                <img [src]="assetUrl+'assets/images/more.png'" />
                <div class="filter_cancel_overlay" *ngIf="actStreamDataService.replyOption[i]" (click)="!actStreamDataService.replyOption[i]"></div>
                <div class="edt_opt_r" *ngIf="actStreamDataService.replyOption[i]">
                  <section (click)="deleteReply(reply, i)">
                    Delete
                  </section>
                  <section (click)="updateCommentReply(reply,comment)">
                    Edit
                  </section>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="confirm_popup" *ngIf="actStreamDataService.deleteReplyPopUp[i]">
              <div class="confirm_pop_body">
                <section>
                  <div class="close_drop" (click)="cancelDelete()">
                  </div>
                  <p class="pop_main">{{actStreamDataService.deleteMessage.msg}}</p>
                </section>
                <section>
                  <div class="confirm_pop_btn" (click)="conformDeleteReply(comment, idx)">
                    Confirm
                  </div>
                  <div class="confirm_pop_btn" (click)="cancelDelete()">
                    Cancel
                  </div>
                </section>
              </div>
            </div>
            <div class="commented_body">
              <p>{{reply.comment}}</p>
            </div>
            <div class="comment_footer">
              <div class="like">
                <div class="like_iconbg like_icon" [ngClass]="{'active': reply.yourCommentResponse === 'like'}" (click)="replyResponse(reply, comment, idx)"></div>
                <div class="like_count">
                  {{reply.commentResponses.length}}
                </div>
              </div>
              <div class="reply">
                <div class="reply_icon" (click)="replyToReply(reply, comment)">
                  <img [src]="assetUrl+'assets/images/as/reply.png'" />
                </div>
               </div>
            </div>
          </div>
          <div class="to_comment">
              <img *ngIf="actStreamDataService.CommentsAndResponses.imageUrl === null" [src]="assetUrl+'assets/images/all/tdp1.png'" />
              <img *ngIf="actStreamDataService.CommentsAndResponses.imageUrl !== null" [src]="actStreamDataService.CommentsAndResponses.imageUrl" />
            <input type="text" placeholder="Reply" class="to_comment_input" [(ngModel)]="comment.replyTxt" autofocus=true
              (keydown.enter)="addCommentReply(comment.replyTxt, comment, idx)"   (input)="showReplayList(comment.replyTxt)">
              <div class="filter_cancel_overlay" *ngIf="replaylist" (click)="hideReplayList()"></div>
              <div class="resp_person_dropdown" *ngIf="replaylist">
                <div class="resp_drop_head">
                  <span>PEOPLE</span>
                  <div class="close_drop"></div>
                </div>
                <div class="drop_down_wrap">
                  <div class="drop_down_wrap">
                    <section class="drop_body">
                      <div class="recent_wrap pad_wrap">
                        <section *ngFor="let user of actStreamDataService.responsiblePersons.list"
                          (click)="selectReplayUser(user,comment)">
                          <div *ngIf="user.employeeImage === null" class="recent_ico"></div>
                          <div *ngIf="user.employeeImage !== null" class="recent_ico"
                            [ngStyle]="{'background-image': 'url(' + user.employeeImage + ')'}"></div>
                          {{user.employee_name}}
                        </section>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
          </div>
        </section>
      </div>
      <section>
        <div class="to_comment">
            <img *ngIf="actStreamDataService.CommentsAndResponses.imageUrl === null" [src]="assetUrl+'assets/images/all/tdp1.png'" />
            <img *ngIf="actStreamDataService.CommentsAndResponses.imageUrl !== null" [src]="actStreamDataService.CommentsAndResponses.imageUrl" />
          <input type="text" placeholder="Comment" class="to_comment_input" [(ngModel)]="commentTxt" autofocus
            (keydown.enter)="addAppreciationComment()"(ngModelChange)="showList()">
            <div class="filter_cancel_overlay" *ngIf="list" (click)="hideList()"></div>
            <div class="resp_person_dropdown" *ngIf="list">
              <div class="resp_drop_head">
                <span>PEOPLE</span>
                <div class="close_drop"></div>
              </div>
              <div class="drop_down_wrap">
                <div class="drop_down_wrap">
                  <section class="drop_body">
                    <div class="recent_wrap pad_wrap">
                      <section *ngFor="let user of actStreamDataService.responsiblePersons.list"
                        (click)="selectUser(user)">
                        <div *ngIf="user.employeeImage === null" class="recent_ico"></div>
                        <div *ngIf="user.employeeImage !== null" class="recent_ico"
                          [ngStyle]="{'background-image': 'url(' + user.employeeImage + ')'}"></div>
                        {{user.employee_name}}
                      </section>
                    </div>
                  </section>
                </div>
              </div>
            </div>
        </div>
      </section>
    </section>
  </div>
</section>
