<div class="moreoptionOverlay" ></div>

<div class="dotPopup"  >  
  <div class="fl_more_option_container">
    <div class="fl_more_option" >
      <ul>
        <li  *ngIf="partnerDataService.getLicenseDetails.license[Index].key" (click)="renewLicense($event,Index)" >  
          Renew License
        </li>
        <li  *ngIf="partnerDataService.getLicenseDetails.license[Index].licenseRequestSlug" (click)="cancelRequest($event,Index)">
          Cancel Request
        </li>
      </ul>
    </div>
  </div>
</div> 

