.nav_wrap {
    background-color: white;
    z-index: 2;
    display: flex;
    border-bottom: 1px solid #e9ebf5;
}

.nav_wrap ul {
    width: 100%;
    display: inline-block;
    vertical-align: top; // -webkit-box-shadow: -10px 20px 68px -28px rgba(34, 34, 34, 0.35);
    // box-shadow: -10px 20px 68px -28px rgba(34, 34, 34, 0.35);
}

// .nav_wrap ul li {
//     text-decoration: none;
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0px 20px 0px 20px;
//     height: 60px;
//     line-height: 60px;
//     border-bottom: 3px solid transparent;
//     cursor: pointer;
//     position: relative;
//     color: #424e5c;
// }

.nav_wrap ul li:nth-child(1) {
    margin: 0px 0px 0px 20px;
}

// .nav_wrap ul li:hover {
//     border-bottom: 3px solid #ff2e4c;
// }

// .active_tab li {
//     border-bottom: 3px solid #ff2e4c !important;
//     font-weight: bold;
//     color: #424e5c;
// }

.more_opt {
    display: inline-block;
}

.nav_wrap ul li label {
    position: absolute;
    right: -70px;
    background-color: #dde0e3;
    color: #4b5663;
    height: 20px;
    line-height: 20px;
    padding: 0px 5px 0px 5px;
    font-size: 12px;
    top: 26px;
    font-family: Roboto-Regular !important;
}

.search_wrap {
    position: relative; //margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    float: right;
    margin: 10px 20px 0px 0px;
    vertical-align: middle;
    -webkit-transition: width 0.2s linear 0s;
    -moz-transition: width 0.2s linear 0s;
    -ms-transition: width 0.2s linear 0s;
    -o-transition: width 0.2s linear 0s;
    transition: width 0.2s linear 0s;
}

.search_wrap .search_icon {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 17px;
    height: 16px;
    background-image: url(/assets/images/searchdark.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.search_wrap input {
    position: absolute;
    top: 4px;
    left: 8px;
    font-size: 14px;
    line-height: 11px;
    width: 0px;
    padding: 5px 0px;
    border: 0px solid;
    border-radius: 0px !important;
    height: 40px;
    transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    background-color: transparent;
}

.search_wrap .search_close {
    position: absolute;
    top: 17px;
    right: 8px;
    width: 17px;
    height: 16px;
    cursor: pointer;
    display: none;
    z-index: 2;
    background-image: url(/assets/images/searchClose.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.search_wrap.open {
    width: 185px;
    border-radius: 0px;
    box-shadow: none;
}

.search_wrap.open input {
    padding: 5px 15px;
    width: 100%;
    transition: all ease 0.4s; //border-bottom: 1px solid #cbcbcb;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.search_wrap.open .search_close {
    display: block;
}