
<div class="nav_wrap">
    <ul>
      <a routerLink="./review-request" routerLinkActive="active_tab">
        <li>Review Requests</li>
      </a>
      <a  routerLink="./review-history"  routerLinkActive="active_tab">
        <li>Review History</li>
      </a>
      <a  routerLink="./my-performance" routerLinkActive="active_tab">
        <li>My Performance</li>
      </a>
      <a routerLink="./appraisal-cycle" routerLinkActive="active_tab"><li>Appraisal Cycle</li></a>

      <a routerLink="./kra-modules" routerLinkActive="active_tab"><li>Performance Indicator</li></a>
     </ul>

  </div>


