<div class="nav_wrap">
  <ul>
      <li [ngClass]="{'active': viewContent === 'profile'}" (click)="viewContent = 'profile'">Profile</li>
      <!-- <li [ngClass]="{'active': viewContent === 'factor'}" (click)="viewContent = 'factor'">2 Factor Authentication
        <label>Disabled</label>
      </li> -->
  </ul>
</div>

<div class="outer">
  <div class="settingsContent" *ngIf="viewContent === 'profile'">
    <app-profile></app-profile>
  </div>
  <div class="settingsContent" *ngIf="viewContent === 'factor'">
    <app-two-factor></app-two-factor>
  </div>
</div>