<div class="leads-table-outer">
  <div class="table_outer_block">
    <div class="table_head table_row Header">
      <div class="table-blocks">
        <div class="checkbox">
          <label>
            <div class="check_outer">
              <input type="checkbox" id="1_in" name="" id="" />
              <div class="check" for="1_in"></div>
            </div>
          </label>
        </div>
      </div>
      <div class="table-blocks">
        <span class="tb_head_drop_arrow ">NAME</span>
      </div>
      <div class="table-blocks Organisation">
        <span class="downArrow">STATUS</span>
      </div>
      <div class="table-blocks">
        <span>ACTIVITY</span>
      </div>
      <div class="table-blocks">
        <span>RESPONSIBLE</span>
      </div>
      <div class="table-blocks">
        <span>UPDATED ON</span>
      </div>
      <div class="table-blocks">
      </div>
    </div>
  </div>
  <div class="table_outer_block Content">

    <div class="table_head table_row" (click)="showDetailPop()">
      <div class="table-blocks">
        <div class="checkbox">
          <label>
            <div class="check_outer">
              <input type="checkbox" id="1_in" name="" id="" />
              <div class="check" for="1_in"></div>
            </div>
          </label>
        </div>
      </div>
      <div class="table-blocks person">
        <div class="profile_pic"></div>
        <div class="profile-details">
          <p>Ivan Kunn</p>
          <span>Student</span>
        </div>
      </div>
      <div class="table-blocks Organisation">
        <div class="phone">
          <div class="phoneIcon"></div>
          <div>1234567890</div>
        </div>
        <div class="mail">
          <div class="mailIcon"></div>
          <div>waylon@mail.com</div>
        </div>
      </div>
      <div class="table-blocks activity">
        <p>Meeting</p>
        <p>20 Sept 2019<span>|</span>10:30 PM</p>
      </div>
      <div class="table-blocks Profile">
        <div class="avatar"></div>
        <span>Waylon Dalton</span>
      </div>
      <div class="table-blocks Date">
        24 OCt 2019
      </div>
      <div class="table-blocks ">
        <div class="overlay" *ngIf="crmDataService.moreOption.show" (click)="hideMore()"></div>
        <div class="dotImage" (click)="showMore()"></div>
        <div class="moreOuter">
            <app-more-option *ngIf="crmDataService.moreOption.show" ></app-more-option>
        </div>
      </div>
    </div>
    <div class="table_head table_row">
      <div class="table-blocks">
        <div class="checkbox">
          <label>
            <div class="check_outer">
              <input type="checkbox" id="1_in" name="" id="" />
              <div class="check" for="1_in"></div>
            </div>
          </label>
        </div>
      </div>
      <div class="table-blocks person">
        <div class="profile_pic"></div>
        <div class="profile-details">
          <p>Ivan Kunn</p>
          <span>Student</span>
        </div>
      </div>
      <div class="table-blocks Organisation">
        <div class="phone">
          <div class="phoneIcon"></div>
          <div>1234567890</div>
        </div>
        <div class="mail">
          <div class="mailIcon"></div>
          <div>waylon@mail.com</div>
        </div>
      </div>
      <div class="table-blocks activity">
        <p>Meeting</p>
        <p>20 Sept 2019<span>|</span>10:30 PM</p>
      </div>
      <div class="table-blocks Profile">
        <div class="avatar"></div>
        <span>Stella Mariya</span>
      </div>
      <div class="table-blocks Date">
        24 OCt 2019
      </div>
      <div class="table-blocks ">
        <!-- <div class="overlay" (click)="hideMore()"></div> -->
        <div class="dotImage" (click)="showMore()"></div>
        <div class="moreOuter">
            <app-more-option *ngIf="crmDataService.moreOption.show" ></app-more-option>
        </div>
      </div>
    </div>
  </div>
</div>

<app-customers-detail *ngIf="crmDataService.customerDetail.show" ></app-customers-detail>

