.annual-review-pop
{
  width: calc(100% - 248px);
  right: 14px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 11111111111;
  top: 100px;
}
.pop-head {
  padding: 20px 20px 25px;
  border-bottom: 1px solid #edeff7;
}
.back
{
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #006df0;
  font-size: 14px;
  margin-bottom: 10px;
}
.prev
{
  background-image: url(/assets/images/prev.png);
  width: 10px;
  height: 10px;
  display: inline-block;
  background-size: contain;
  margin-right: 5px;
  background-repeat: no-repeat;
}

.pop-head h4 {
  color: #424e5c;
  font-size: 14px;
  display: inline-block;
  font-family: 'Roboto-medium';
}

.pop-head p {
  color: #75818f;
  font-size: 14px;
  font-family: 'Roboto-medium';
  margin: 0 10px;
  display: inline-block;
}
.pop-head span{
  color: #75818f;
  font-size: 18px;
  font-family: 'Roboto-Regular';
  margin: 0 20px;
  display: inline-block;
}
.profile
{
  width: auto;
  display: inline-block;
  position: relative;
}
.profile-pic
{
  background-image: url(/assets/images/all/tdp4.png);
  width: 40px;
  height: 40px;
  background-size: contain;
  position: absolute;
  left: 10px;
  top: -15px;
  vertical-align: top;

}
.profile-name
{
  color: #006df0;
  padding-left: 60px;
  font-family: 'Roboto-medium';
  font-size: 14px;
  margin: 0 10px;
}
.taskActive_wrap table thead {
  background-color: #f6f6f6;
  color: #536273;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  font-weight: bold;
}
.table-wrap
{
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.table_head {
  background-color: #f6f6f6;
  height: 60px;
}
.taskActive_wrap table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.table-blocks {
  display: inline-block;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  height: auto;
  line-height: 100%;
  font-family: roboto-regular;
  padding: 25px 0px;
}
.table_head .table-blocks span:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #526172;
  right: 0;
  top: 5px;
}
// .table_head .table-blocks span:after {
//   position: absolute;
//   content: '';
//   width: 0;
//   transform: rotate(180deg);
//   -o-transform: rotate(180deg);
//   -moz-transform: rotate(180deg);
//   -webkit-transform: rotate(180deg);
//   height: 0;
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;
//   border-top: 5px solid #cecece;
//   right: 0;
//   top: 5px;
// }
.table_head .table-blocks {
  color: #526172;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.t_row_hover:hover {
  box-shadow: 0px 9px 103px 0px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0px 9px 103px 0px rgba(0, 0, 0, 0.1) !important;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: -1px;
}
.table_row .table-blocks:nth-child(1) {
  width: 40%;
  padding-left: 30px;
}
.table_row .table-blocks:nth-child(2) {
  width: 20%;
}
.table_row .table-blocks:nth-child(3) {
  width: 28%;
}
.table_list {
  background-color: #fff;
  border-bottom: 1px solid #e9ebf5;
}
.employee_detail
{
  position: relative;
  padding-left: 80px !important;
}
.employee_image
{
  position: absolute;
  top: 17px;
  left: 30px;
  background-image: url(/assets/images/all/tdp6.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
}
.table-wrap .table-blocks
{
  text-decoration: none;
  color: #536273;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  position: relative

}
.leave_type
{
  min-width: 200px;
}
.more
{
  background-image: url(/assets/images/more.png);
  background-repeat: no-repeat;
  width: 20px;
  cursor: pointer;
  height: 20px;
  background-size: contain;
  float: right;
  position: absolute;
  right: 0;
  top: 23px;
}
.approve-blk
{
  position: relative;
}
.slash
{
  margin: 0 5px;
}
@media only screen and (max-width:1366px)
{

}
