<app-single-line-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.singleLineText"></app-single-line-preview>
<app-number-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.number"></app-number-preview>
<app-checkboxes-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.checkboxes"></app-checkboxes-preview>
<app-multiple-choice-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.multipleChoice" ></app-multiple-choice-preview>
<app-dropdown-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.dropdown"></app-dropdown-preview>
<app-paragraph-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.paragraphText"></app-paragraph-preview>
<app-section-break-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.section"></app-section-break-preview>
<app-page-break-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.page"></app-page-break-preview>
<app-name-preview data="{{currentElementIndex}}" *ngIf="localElementArray.name"></app-name-preview>
<app-file-upload-preview  data="{{currentElementIndex}}"  *ngIf="localElementArray.fileUpload"></app-file-upload-preview>
<app-address-preview  data="{{currentElementIndex}}"  *ngIf="localElementArray.address"></app-address-preview>
<app-date-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.date"></app-date-preview>
 <app-email-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.email"></app-email-preview>
<app-time-preview  data="{{currentElementIndex}}"  *ngIf="localElementArray.time"></app-time-preview>
<app-website-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.website"></app-website-preview>
<app-phone-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.phone"></app-phone-preview>
<app-price-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.price"></app-price-preview>
<app-likert-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.likert"></app-likert-preview>
<app-rating-preview data="{{currentElementIndex}}"  *ngIf="localElementArray.rating"></app-rating-preview>
<!--<app-userlist-preview></app-userlist-preview> -->
