.work_report_wrap {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.wr_left {
    width: 22%;
    border-right: 1px solid #dde0e3;
}

.wr_right {
    width: 78%;
}