<div class="compwrap">
    <div class="login_widget">
        <div class="widget_date_time">
            <div class="widget_time fleft">
                {{date | date:'hh : mm a' }}
            </div>
            <div class="widget_date fright">
                {{date | date:'dd MMMM yyyy'}}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="widget_welcome">
            <p>Forgot password?</p>
            Enter your email address to get a reset link
        </div>
    </div>

    <div class="loginerrormsg" [hidden]="!error">
        <p>{{error}}</p>
    </div>

    <div [hidden]="!success" class="forg_sucess_msg">
        <p>{{success}}</p>
    </div>

    <form class="login_form_container" (submit)="forgotPassword()">
        <div class="input_wrapper log_btn_wrap">
            <input type="text" [(ngModel)]="email" name="email" placeholder="Email">
            <button class="login_button">Send reset link</button>
        </div>

        <div class="forgot_wrap">
            <div class="fleft">
                <div class="backtologin" routerLink="">
                    <img [src]="assetUrl+'assets/images/backarrow.png'"> Back to login</div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--<a  routerLink="../reset">-->
        <!--<p>Reset Passsword</p>-->
        <!--</a>-->
    </form>
</div>