@charset "utf-8";
/* SCSS Document */

/* -----------------------------------------
        Forgot Password Component |START|
------------------------------------------*/

.backtologin img {
    width: 20px;
    height: 14px;
    margin-right: 16px;
}

.backtologin {
    cursor: pointer;
}

.loginerrormsg {
    height: 50px;
    line-height: 50px;
    background-color: #ff2342;
    color: #fff;
    width: 584px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    transition: all .2s ease-in-out;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    font-family: roboto-regular;
}

.forg_sucess_msg {
    height: 50px;
    line-height: 50px;
    background-color: #4CAF50;
    color: #fff;
    width: 584px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    transition: all .2s ease-in-out;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}
.widget_date_time {
    font-family: roboto-regular;
}

@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 1366px) {
    .loginerrormsg {
        width: 420px;
        transition: all .2s ease-in-out;
        font-family: roboto-regular;
    }
    .forg_sucess_msg
    {
        width: 420px;
        transition: all .2s ease-in-out;
        font-family: roboto-regular;
    }
    .login_widget {
        height: 150px;
        width: 415px;
        padding: 20px;
        font-size: 12px;
        transition: all .2s ease-in-out;
    }
    .input_wrapper input {
        width: 415px;
        padding: 0px;
        padding-left: 20px;
        height: 65px;
        line-height: 65px;
        font-size: 13px;
        transition: all .2s ease-in-out;
        color: rgb(83, 98, 115);
        font-family: roboto-regular;
    }
    .input_wrapper {
        width: 415px;
        margin-top: 20px;
        position: relative;
        transition: all .2s ease-in-out;
    }
    .login_button {
        position: absolute;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 12.5px;
        top: 0;
        height: 65px;
        width: 130px;
        padding: 0px;
        transition: all .2s ease-in-out;
    }
    .forgot_wrap {
        color: white;
        margin-top: 20px;
        width: 415px;
        font-size: 14px;
        transition: all .2s ease-in-out;
    }
    .widget_welcome {
        font-size: 13px;
        bottom: 20px;
        transition: all .2s ease-in-out;
        font-family: roboto-regular;
        color: rgba(255, 255, 255, 0.769);
    }
    .widget_welcome p {
        font-family: Roboto-regular;
        color: #fff;
        margin: 0px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {}