<div class="table_head table_row">
  <div class="table-blocks">
    <div class="checkbox">
      <label>
        <div class="check_outer">
          <input type="checkbox" id="1_in" name="" [(ngModel)]="taskDataService.taskRunManagement.selectedAll" (ngModelChange)="checkAllTask($event)">
          <div class="check" for="1_in"></div>
        </div>

      </label>
    </div>
  </div>
  <div class="table-blocks" [ngClass]="{'actives':taskDataService.getTasks.sortOrder === 'asc' && taskDataService.getTasks.selectedSortItem === 'title'}"
    (click)="sortTasks('title')">
    <span>NAME</span>
  </div>
  <div class="table-blocks" [ngClass]="{'actives':taskDataService.getTasks.sortOrder === 'asc' && taskDataService.getTasks.selectedSortItem === 'due_date'}"
    (click)="sortTasks('due_date')">
    <span>DUE DATE</span>
  </div>
  <div class="table-blocks" [ngClass]="{'actives':taskDataService.getTasks.sortOrder === 'dsc' && taskDataService.getTasks.selectedSortItem === 'creator'}">
    <span>CREATOR</span>
  </div>
  <div class="table-blocks" [ngClass]="{'actives':taskDataService.getTasks.sortOrder === 'dsc' && taskDataService.getTasks.selectedSortItem === 'assignees'}">
    <span>ASSIGNEES</span>
  </div>
</div>