<div class="tab-inner">
  <div class="training-name">
    <label>Enter Training Name</label>
    <input type="text" placeholder="Lorem Ipsum" readonly [(ngModel)]="hrmDataService.selectOverviewDetails.postTrainingFormTitle">
  </div>
  <div class="training-name">
      <label>No. of Days</label>
      <input type="text" placeholder="21"  readonly>
    </div>
    <div class="learned-selector" >
      <p>Select things learned</p>
        <div  class="feedbk-check">
            <label>
              <div class="check_outer">
                <input name="" type="checkbox" class="" readonly>
                <div class="check"></div>
              </div>
            </label>
            <span class="input-title">Lorem Ipsum is simply dummy </span>
          </div>
          <div  class="feedbk-check">
              <label>
                <div class="check_outer">
                  <input name="" type="checkbox" class="" readonly>
                  <div class="check"></div>
                </div>
              </label>
              <span class="input-title"> printing and typesetting industry</span>
            </div>
            <div  class="feedbk-check">
                <label>
                  <div class="check_outer">
                    <input name="" type="checkbox" class="check" readonly checked>
                    <div class="check"></div>
                  </div>
                </label>
                <span class="input-title checked">industry's standard dummy </span>
              </div>
    </div>
</div>
