<div class="confirm_popup">
  <div class="confirm_pop_body" *ngIf="partnerDataService.cancelRequestPop.showPopup">
    <section>
      <div class="close_drop" (click)="closePopup()">
      </div>
      <p class="pop_main">Are you sure you want to delete the selected organisation ?</p>
    </section>
    <section>
      <div class="confirm_pop_btn" (click)="deleteOrganisation()">
        Confirm
      </div>
      <div class="confirm_pop_btn" (click)="cancelPopup()">
        Cancel
      </div>
    </section>
  </div>
  <div class="confirm_pop_body" *ngIf="partnerDataService.deleteBulkPopup.show">
    <section>
      <div class="close_drop" (click)="closePopup()">
      </div>
      <p class="pop_main">Are you sure you want to delete the selected organisations ?</p>
    </section>
    <section>
      <div class="confirm_pop_btn" (click)="deleteBulkOrganisation()">
        Confirm
      </div>
      <div class="confirm_pop_btn" (click)="cancelPopup()">
        Cancel
      </div>
    </section>
  </div>
</div>

