.pop_main {
    padding-top: 10%;
    color: #424e5c;
    margin-bottom: 28px;
    font-family: roboto-regular;
    font-size: 15px;
}
.confirm_pop_body section:nth-child(2) {
    padding: 10px;
}
.confirm_pop_body section:nth-child(1) {
    position: relative;
    padding: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e2e2e2;
}