<app-single-line data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.singleLineText"></app-single-line>
<app-number data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.number"></app-number>
<app-checkboxes data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.checkboxes"></app-checkboxes>
<app-multiple-choices data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.multipleChoice"></app-multiple-choices>
<app-dropdown data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.dropdown"></app-dropdown>
<app-paragraph data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.paragraphText"></app-paragraph>
<app-section-break data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.section"></app-section-break>
<app-page-break data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.page"></app-page-break>
<app-name data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.name"></app-name>
<app-file-upload data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.fileUpload"></app-file-upload>
<app-address data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.address"></app-address>
<app-date data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.date"></app-date>
<app-email data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.email"></app-email>
<app-time data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.time"></app-time>
<app-website data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.website"></app-website>
<app-phone data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.phone"></app-phone>
<app-price data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.price"></app-price>
<app-likert data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.likert"></app-likert>
<app-rating data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.rating"></app-rating>
<app-userlist data="{{currentElementIndex}}" (deleteFromParent)="deleteElement($event)" *ngIf="localElementArray.userlist"></app-userlist>