.permission-pop
{
  position: absolute;
  background-color: #fff;
  height: 100%;
  min-height: 100vh;
  width: calc(100% - 248px);
  right: 14px;
  z-index: 11111;
  top: 100px;
}
.pop-head
{
padding:30px 20px 10px 20px;
color:#002a5d;
text-align: center;
text-transform: uppercase;
font-size: 16px;
}
.pop-body
{
  padding: 20px 20px 60px 20px;
}
.check-box-container
{
  margin-bottom: 30px;
}
.check-box-container h6
{
  color: #424e5c;
  font-size: 13px;
  margin-bottom: 20px;
}
.check-wraper
{
  padding: 20px 10px;
}
.check-wraper p{
  color: #98a1ab;
  font-size: 13px;
  display: inline-block;
  min-width: 150px;
}
.checkbox
{
  display: inline-block;
  margin-right: 20px;
}
.checkbox label
{
  color: #536273;
  font-size: 13px;
}
.check_outer
{
  margin-right: 20px;
}
.check {
  border-radius: 4px;
}
.pop-footer
{
  position: fixed;
  bottom: 0;
  width: calc(100% - 248px);
  right: 14px;
  background-color: #fff;
  z-index: 1111111;
  border-top: 1px solid #bac0c7;
  padding: 10px 20px;
  box-shadow: 0px -9px 40px 0px #00000021;
}
.pbtncreate
{
  text-align: center;
  cursor: pointer;
}
.req-cancel {
  line-height: 34px;
  height: 34px;
  cursor: pointer;
  width: 117px;
  color: #536273;
  border: 1px solid #536273;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  transition: all ease 0.2s;
  text-align: center;
  background-color: #fff;
}
.req-cancel:hover {
  transition: all ease 0.2s;
  background-color: #536273;
  color: #fff;
}
.main-overlay
{
      background-color: rgba(0,0,0,0.4);
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0px;
      top: 0px;
      z-index: 11111;
}
@media screen and (max-width:1366px)
{
  .permission-pop
  {
    top: 80px;
    height: auto;
  }
}
