<div class="main-overlay" (click)="hidepermission()"></div>
<div class="permission-pop">
 <div class="pop-head">
   <h4>Permissions</h4>
 </div>
 <div class="pop-body">
   <div class="check-box-container">
     <h6>Communications</h6>
     <div class="check-wraper">
       <p>World level posts</p>
       <div class="checkbox" >
          <label>
            <div class="check_outer">
              <input type="checkbox" id="1_in" name="" id=""/>
              <div class="check" for="1_in"></div>
            </div>
            Create
          </label>
        </div>
        <div class="checkbox" >
            <label>
              <div class="check_outer">
                <input type="checkbox" id="1_in" name="" id=""/>
                <div class="check" for="1_in"></div>
              </div>
              Read
            </label>
          </div>
          <div class="checkbox" >
              <label>
                <div class="check_outer">
                  <input type="checkbox" id="1_in" name="" id=""/>
                  <div class="check" for="1_in"></div>
                </div>
                Edit
              </label>
            </div>
            <div class="checkbox" >
                <label>
                  <div class="check_outer">
                    <input type="checkbox" id="1_in" name="" id=""/>
                    <div class="check" for="1_in"></div>
                  </div>
                  Delete
                </label>
              </div>
     </div>
     <div class="check-wraper">
        <p>Vertical level posts</p>
        <div class="checkbox" >
           <label>
             <div class="check_outer">
               <input type="checkbox" id="1_in" name="" id=""/>
               <div class="check" for="1_in"></div>
             </div>
             Create
           </label>
         </div>
         <div class="checkbox" >
             <label>
               <div class="check_outer">
                 <input type="checkbox" id="1_in" name="" id=""/>
                 <div class="check" for="1_in"></div>
               </div>
               Read
             </label>
           </div>
           <div class="checkbox" >
               <label>
                 <div class="check_outer">
                   <input type="checkbox" id="1_in" name="" id=""/>
                   <div class="check" for="1_in"></div>
                 </div>
                 Edit
               </label>
             </div>
             <div class="checkbox" >
                 <label>
                   <div class="check_outer">
                     <input type="checkbox" id="1_in" name="" id=""/>
                     <div class="check" for="1_in"></div>
                   </div>
                   Delete
                 </label>
               </div>
      </div>
   </div>
   <div class="check-box-container">
      <h6>Admin Management</h6>
      <div class="check-wraper">
        <p>Sub admins</p>
        <div class="checkbox" >
           <label>
             <div class="check_outer">
               <input type="checkbox" id="1_in" name="" id=""/>
               <div class="check" for="1_in"></div>
             </div>
             Create
           </label>
         </div>
         <div class="checkbox" >
             <label>
               <div class="check_outer">
                 <input type="checkbox" id="1_in" name="" id=""/>
                 <div class="check" for="1_in"></div>
               </div>
               Read
             </label>
           </div>
           <div class="checkbox" >
               <label>
                 <div class="check_outer">
                   <input type="checkbox" id="1_in" name="" id=""/>
                   <div class="check" for="1_in"></div>
                 </div>
                 Edit
               </label>
             </div>
             <div class="checkbox" >
                 <label>
                   <div class="check_outer">
                     <input type="checkbox" id="1_in" name="" id=""/>
                     <div class="check" for="1_in"></div>
                   </div>
                   Delete
                 </label>
               </div>
      </div>
      <div class="check-wraper">
         <p>Permissions</p>
         <div class="checkbox" >
            <label>
              <div class="check_outer">
                <input type="checkbox" id="1_in" name="" id=""/>
                <div class="check" for="1_in"></div>
              </div>
              Create
            </label>
          </div>
          <div class="checkbox" >
              <label>
                <div class="check_outer">
                  <input type="checkbox" id="1_in" name="" id=""/>
                  <div class="check" for="1_in"></div>
                </div>
                Read
              </label>
            </div>
            <div class="checkbox" >
                <label>
                  <div class="check_outer">
                    <input type="checkbox" id="1_in" name="" id=""/>
                    <div class="check" for="1_in"></div>
                  </div>
                  Edit
                </label>
              </div>
              <div class="checkbox" >
                  <label>
                    <div class="check_outer">
                      <input type="checkbox" id="1_in" name="" id=""/>
                      <div class="check" for="1_in"></div>
                    </div>
                    Delete
                  </label>
                </div>
       </div>
    </div>
    <div class="check-box-container">
        <h6>Partner Management</h6>
        <div class="check-wraper">
          <p>Partners</p>
          <div class="checkbox" >
             <label>
               <div class="check_outer">
                 <input type="checkbox" id="1_in" name="" id=""/>
                 <div class="check" for="1_in"></div>
               </div>
               Create
             </label>
           </div>
           <div class="checkbox" >
               <label>
                 <div class="check_outer">
                   <input type="checkbox" id="1_in" name="" id=""/>
                   <div class="check" for="1_in"></div>
                 </div>
                 Read
               </label>
             </div>
             <div class="checkbox" >
                 <label>
                   <div class="check_outer">
                     <input type="checkbox" id="1_in" name="" id=""/>
                     <div class="check" for="1_in"></div>
                   </div>
                   Edit
                 </label>
               </div>
               <div class="checkbox" >
                   <label>
                     <div class="check_outer">
                       <input type="checkbox" id="1_in" name="" id=""/>
                       <div class="check" for="1_in"></div>
                     </div>
                     Delete
                   </label>
                 </div>
        </div>
      </div>
      <div class="check-box-container">
          <h6>Work flow and forms</h6>
          <div class="check-wraper">
            <p>Workflow</p>
            <div class="checkbox" >
               <label>
                 <div class="check_outer">
                   <input type="checkbox" id="1_in" name="" id=""/>
                   <div class="check" for="1_in"></div>
                 </div>
                 Create
               </label>
             </div>
             <div class="checkbox" >
                 <label>
                   <div class="check_outer">
                     <input type="checkbox" id="1_in" name="" id=""/>
                     <div class="check" for="1_in"></div>
                   </div>
                   Read
                 </label>
               </div>
               <div class="checkbox" >
                   <label>
                     <div class="check_outer">
                       <input type="checkbox" id="1_in" name="" id=""/>
                       <div class="check" for="1_in"></div>
                     </div>
                     Edit
                   </label>
                 </div>
                 <div class="checkbox" >
                     <label>
                       <div class="check_outer">
                         <input type="checkbox" id="1_in" name="" id=""/>
                         <div class="check" for="1_in"></div>
                       </div>
                       Delete
                     </label>
                   </div>
          </div>
          <div class="check-wraper">
             <p>Forms</p>
             <div class="checkbox" >
                <label>
                  <div class="check_outer">
                    <input type="checkbox" id="1_in" name="" id=""/>
                    <div class="check" for="1_in"></div>
                  </div>
                  Create
                </label>
              </div>
              <div class="checkbox" >
                  <label>
                    <div class="check_outer">
                      <input type="checkbox" id="1_in" name="" id=""/>
                      <div class="check" for="1_in"></div>
                    </div>
                    Read
                  </label>
                </div>
                <div class="checkbox" >
                    <label>
                      <div class="check_outer">
                        <input type="checkbox" id="1_in" name="" id=""/>
                        <div class="check" for="1_in"></div>
                      </div>
                      Edit
                    </label>
                  </div>
                  <div class="checkbox" >
                      <label>
                        <div class="check_outer">
                          <input type="checkbox" id="1_in" name="" id=""/>
                          <div class="check" for="1_in"></div>
                        </div>
                        Delete
                      </label>
                    </div>
           </div>
        </div>
        <div class="check-box-container">
            <h6>Licence Management</h6>
            <div class="check-wraper">
              <p>Licence</p>
              <div class="checkbox" >
                 <label>
                   <div class="check_outer">
                     <input type="checkbox" id="1_in" name="" id=""/>
                     <div class="check" for="1_in"></div>
                   </div>
                   Create
                 </label>
               </div>
               <div class="checkbox" >
                   <label>
                     <div class="check_outer">
                       <input type="checkbox" id="1_in" name="" id=""/>
                       <div class="check" for="1_in"></div>
                     </div>
                     Read
                   </label>
                 </div>
                 <div class="checkbox" >
                     <label>
                       <div class="check_outer">
                         <input type="checkbox" id="1_in" name="" id=""/>
                         <div class="check" for="1_in"></div>
                       </div>
                       Edit
                     </label>
                   </div>
                   <div class="checkbox" >
                       <label>
                         <div class="check_outer">
                           <input type="checkbox" id="1_in" name="" id=""/>
                           <div class="check" for="1_in"></div>
                         </div>
                         Delete
                       </label>
                     </div>
            </div>
          </div>
          <div class="check-box-container">
              <h6>Vertical and Country management</h6>
              <div class="check-wraper">
                <p>Verticals</p>
                <div class="checkbox" >
                   <label>
                     <div class="check_outer">
                       <input type="checkbox" id="1_in" name="" id=""/>
                       <div class="check" for="1_in"></div>
                     </div>
                     Create
                   </label>
                 </div>
                 <div class="checkbox" >
                     <label>
                       <div class="check_outer">
                         <input type="checkbox" id="1_in" name="" id=""/>
                         <div class="check" for="1_in"></div>
                       </div>
                       Read
                     </label>
                   </div>
                   <div class="checkbox" >
                       <label>
                         <div class="check_outer">
                           <input type="checkbox" id="1_in" name="" id=""/>
                           <div class="check" for="1_in"></div>
                         </div>
                         Edit
                       </label>
                     </div>
                     <div class="checkbox" >
                         <label>
                           <div class="check_outer">
                             <input type="checkbox" id="1_in" name="" id=""/>
                             <div class="check" for="1_in"></div>
                           </div>
                           Delete
                         </label>
                       </div>
              </div>
              <div class="check-wraper">
                 <p>Country</p>
                 <div class="checkbox" >
                    <label>
                      <div class="check_outer">
                        <input type="checkbox" id="1_in" name="" id=""/>
                        <div class="check" for="1_in"></div>
                      </div>
                      Create
                    </label>
                  </div>
                  <div class="checkbox" >
                      <label>
                        <div class="check_outer">
                          <input type="checkbox" id="1_in" name="" id=""/>
                          <div class="check" for="1_in"></div>
                        </div>
                        Read
                      </label>
                    </div>
                    <div class="checkbox" >
                        <label>
                          <div class="check_outer">
                            <input type="checkbox" id="1_in" name="" id=""/>
                            <div class="check" for="1_in"></div>
                          </div>
                          Edit
                        </label>
                      </div>
                      <div class="checkbox" >
                          <label>
                            <div class="check_outer">
                              <input type="checkbox" id="1_in" name="" id=""/>
                              <div class="check" for="1_in"></div>
                            </div>
                            Delete
                          </label>
                        </div>
               </div>
            </div>
 </div>
</div>
<div class="pop-footer">
  <div class="pbtncreate">Save</div>
  <div class="req-cancel" (click)="hidepermission()">Cancel</div>
</div>
