<div class="main-overlay" (click)="hideAddSubAdmin()"></div>
<div class="popup-outer">
  <div class="pop-head">
    <h4>CREATE SUB ADMIN </h4>
  </div>
  <div class="pop-body">
    <div class="left-container"><label>User Name :</label>
      <input type="text">
    </div>
    <div class="overlay" *ngIf="dropdown"  (click)="hideDropdown()"></div>
    <div class="right-container role" (click)="showDropdown()"><label>Role :</label>
      <input type="text">
      <div class="arrow_drop"></div>
      <div class="drop-down" *ngIf="dropdown">
        <ul>
          <li>Partner Manager</li>
          <li>Partner</li>
        </ul>
      </div>
    </div>

    <div class="left-container"><label>Email :</label>
      <input type="text">
    </div>
    <div class="right-container"><label>Phone Number :</label>
      <input type="text">
    </div>
    <div class="overlay" *ngIf="partner"  (click)="hidePartner()"></div>
    <div class="left-container partner" (click)="showPartner()" ><label>Select partners</label>
      <div class="selected_tag">
        <span class="input-title">Stella Little
          <div class="select_close"></div>
        </span>
      </div>
      <input type="text">
      <div class="arrow_drop"></div>
      <div class="resp_person_dropdown" *ngIf="partner" >
        <div class="resp_drop_head">
          <span>PEOPLE</span>
          <div class="close_drop" (click)="hidePartner()"></div>
        </div>
          <div class="drop_down_wrap">
            <section class="drop_body">
              <div class="recent_wrap pad_wrap">
                <section >
                  <div  class="recent_ico"></div>
                 Stella Little
                </section>
                <section >
                  <div  class="recent_ico"></div>
                 Stella Little
                </section>
              </div>
            </section>
          </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="pop-footer">
  <div class="pbtncreate">Create</div>
  <div class="req-cancel" (click)="hideAddSubAdmin()">Cancel</div>
</div>
