<div class="elements_wrap dropdown_wrap" (click)="activateElement()" id="{{currentElementIndex}}">
	<div class="element_pad">
		<div class="elements_head">
			<div class="ele_icon ele_icon_dropdown">
			</div>
			<h4>Dropdown</h4>
		</div>
		<div class="element_body active_element" [dndDragDisabled]='dataService.formElements.focusSelect' [dndDraggable]="{effectAllowed:'move'}" [ngClass]="{'element_display_block': dataService.formElementToggle.activeIndex === currentElementIndex}">
			<div class="element_input">
				<input #focus (focus)="dataService.formElements.focusSelect = true" (blur)="dataService.formElements.focusSelect = false" type="text" class="checkboxes_input" name="text" placeholder="Enter the title" [(ngModel)]="dropdownElement.dropdown.label" (ngModelChange)="validateElement()"><!--dndNoDrag-->
				<p class="error" *ngIf="!this.dropdownElement.isValidated && dataService.formValidation.validating && !dropdownElement.dropdown.label">Required Field</p>

			</div>
			<div class="dropdown_wrap_choice_heading">
				<p>Choices</p>
			</div>
			<div class="" *ngFor="let choice of dropdownElement.dropdown.choices;let idx=index">
				<ul>
					<li>
						<div class="ele_icon drag_inner"></div>
					</li>
					<li>
						<div class="element_input">
							<input type="text" class="" name="text" autocomplete="off" placeholder="Enter the choice" (focus)="dataService.formElements.focusSelect=true" (blur)= "dataService.formElements.focusSelect=false"  [(ngModel)]="choice.label" (ngModelChange)="validateElement()"><!--dndNoDrag-->
							<p class="error" *ngIf="!this.dropdownElement.isValidated && dataService.formValidation.validating && !choice.label">Required Field</p>
		
						</div>
						<div class="max_input" [hidden]="!showMaxQuantity">
							<span>Max Quantity :</span> 
							<input type="text" class="mx_in" name="text" placeholder="Leave It Blank If No Limit"(focus)="dataService.formElements.focusSelect=true" (blur)= "dataService.formElements.focusSelect=false" onkeypress="return (event.charCode >= 48 && event.charCode <= 57 )||event.charCode == 43 ||event.charCode == 8 ||event.charCode == 9 ||event.charCode == 0 ||event.charCode == 127" [(ngModel)]="choice.maxQuantity" >
						</div>
					</li>

					<li *ngIf="dropdownElement.dropdown.choices.length > 2" (click)="deleteFormChoice(idx)">
						<div class="ele_icon delicon"></div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="">
				<ul>
					<li>
						<div class="addanothercitem">
							<!-- <input type="text" class="addanothercitem" name="text" placeholder="Add another drop down item" dndNoDrag (keypress)="addChoice($event)"> -->
							<div class="add_an" (click)="addChoice($event)">Add</div>
						</div>
					</li>
					
				</ul>
				<div class="clear"></div>
			</div>

			<div class="ele_icon drag_outer">
			</div>
		</div>
		<div class="element_body inactive_element" [ngClass]="{'active_element': dataService.formElementToggle.activeIndex === currentElementIndex}">
			<div class="p_label">
				<label>{{dropdownElement.dropdown.label || "Enter the title"}}</label>
			</div>
			<div class="dropdown_wrap_choice_heading">
				<p>Choices</p>
			</div>
			<div class="" *ngFor="let choice of dropdownElement.dropdown.choices">
				<ul>
					<li>
						<div class="element_input">
							<section>
								{{choice.label || "Enter the choice"}}
							</section>
						</div>
					</li>
				</ul>
			</div>

			<div class="ele_icon drag_outer">
			</div>
		</div>
		<div class="element_footer active_element" [ngClass]="{'element_display_block': dataService.formElementToggle.activeIndex === currentElementIndex}">
			<ul class="efleft">
				<li>
					<div class="checkbox">
						<label>
							<div class="check_outer">
								<input type="checkbox" id="1_in" name="" id="" [(ngModel)]="dropdownElement.dropdown.isRequired">
								<div class="check" for="1_in"></div>
							</div>

							Required
						</label>
					</div>
				</li>
				<li>
					<div class="checkbox">
						<label>
							<div class="check_outer">
								<input type="checkbox" id="1_in" name="" id="" [(ngModel)]="dropdownElement.dropdown.allowOther">
								<div class="check" for="1_in"></div>
							</div>
							Allow other
						</label>
					</div>
				</li>
				<li>
					<div class="checkbox">
						<label>
							<div class="check_outer">
								<input type="checkbox" id="1_in" name="" id="" [(ngModel)]="showMaxQuantity">
								<div class="check" for="1_in"></div>
							</div>
							Max quantity
						</label>
					</div>
				</li>
			</ul>
			<ul class="efright">
				<li>
					<button (click)="deleteElement()">Delete</button>
				</li>
				<li>
					<button (click)="dulpicateElement()">Duplicate</button>
				</li>
			</ul>
		</div>
	</div>
	<!-- Delete popup start-->
	<div *ngIf = "dataService.deletePopup[idx]" class="confirm_popup" >
		<div class="confirm_pop_body">
		  <section>
			<div class="close_drop" (click)="closePopup()">
			</div>
			<p class="pop_main">Are you sure you want to delete the selected element?</p>
		  </section>
		  <section>
			<div class="confirm_pop_btn" (click)="deleteConform()">
			  Confirm
			</div>
			<div class="confirm_pop_btn" (click)="closePopup()">
			  Cancel
			</div>
		  </section>
		</div>
	  </div>
	<!-- Delete popup end-->
</div>

<!-- <app-delete-confirm-popup *ngIf = "dataService.deletePopup.show"></app-delete-confirm-popup> -->