<div class="notes-wrap">
  <h4>Notes (4)</h4>
  <div class="notebtn"><div class="red-icon"></div>New Note</div>
  <div class="note">
<label>Enter Note</label>
<textarea rows="5"></textarea>
  </div>
  <div class="pbtncreate">save </div>
  <div class="req-cancel">Cancel</div>
  <div class="notes-area">
  <div class="comment-wrap">
    <div class="profile-pic"></div>
    <div class="comments">
      <p class="name">Peter palmer</p>
      <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rem magni officiis architecto corporis laboriosam dolor nulla pariatur minima eos itaque deserunt animi illo perspiciatis, nam, totam odio nemo suscipit!</p>
      <p class="date">12 June 2018 <span>|</span> 12:40 PM</p>
    </div>
  </div>
  <div class="comment-wrap">
      <div class="profile-pic"></div>
      <div class="comments">
        <p class="name">Peter palmer</p>
        <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rem magni officiis architecto corporis laboriosam dolor nulla pariatur minima eos itaque deserunt animi illo perspiciatis, nam, totam odio nemo suscipit!</p>
        <p class="date">12 June 2018 <span>|</span> 12:40 PM</p>
      </div>
    </div>
    <div class="comment-wrap">
        <div class="profile-pic"></div>
        <div class="comments">
          <div class="btn-wrap">
            <div class="atnbtn">Edit</div>
            <div class="atnbtn">Delete</div>
          </div>
          <p class="name">Peter palmer</p><div class="man-user"></div>
          <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rem magni officiis architecto corporis laboriosam dolor nulla pariatur minima eos itaque deserunt animi illo perspiciatis, nam, totam odio nemo suscipit!</p>
          <p class="date">12 June 2018 <span>|</span> 12:40 PM</p>
        </div>
      </div>
    </div>
</div>
