<div class="module tablet-12 laptop-12 desktop-12 head_paginator_right">
  <div class="module">
    <div class="module tablet-12 laptop-12 desktop-12 form_preview_indicator_container">
      <span class="form_preview_indicator">Page {{currentElement['pagination']['currentPage']}} / {{dataService.formPages.total}}</span>
    </div>
  </div>
  <div class="module tablet-2 laptop-2 desktop-2">
    <!-- <button (click)="dataService.form_preview2.show = true" class="form_preview_next">Next Page</button> -->
  </div>
</div>