
<div class="filter_cancel_overlay" (click)="settingsDataService.changePassword.show = false"></div>
<div class="change_password_pop_wrap">
  <div class="change_password_head">
    <h4>Change Password</h4>
    <a class="close" (click)="settingsDataService.changePassword.show = false">&times;</a>
  </div>
  <div class="change_password_contents">
    <div class="change_password_content_row">
      <div class="change_password_input_holder">
        <input class="change_password_input_field" type="password" placeholder="Old Password" name="name" [(ngModel)]="settingsDataService.changePassword.oldPassword">
      </div>
      <p class="error" *ngIf="!this.isValidated && !settingsDataService.changePassword.oldPassword" >Required Field</p> 

    </div>
    <div class="change_password_content_row">
      <div class="change_password_input_holder">
        <input class="change_password_input_field" type="password" placeholder="New Password" name="name"  [(ngModel)]="settingsDataService.changePassword.newPassword">
      </div>
      <p class="error" *ngIf="!this.isValidated && !settingsDataService.changePassword.newPassword" >Required Field</p> 
    </div>
    <div class="change_password_content_row">
      <div class="change_password_input_holder">
        <input class="change_password_input_field" type="password" placeholder="Re-Type New Password" name="name"  [(ngModel)]="settingsDataService.changePassword.confirmPwd">
      </div>
      <p class="error" *ngIf="!this.isValidated && !settingsDataService.changePassword.confirmPwd" >Required Field</p> 
    </div>
    <p class="error" *ngIf="!this.isValidated && this.settingsDataService.changePassword.newPassword !== this.settingsDataService.changePassword.confirmPwd">password doesnot match</p>

  </div>
  <div class="change_password_footer">
    <div class="save_button">
      <button (click)="changePassword()">Save</button>
    </div>
    <div class="cancel_button">
      <button (click)="settingsDataService.changePassword.show = false">Cancel</button>
    </div>
  </div>
</div> 