<div class="head_paginator_right">
  <div class="pb_head">
    <div class="form_preview_indicator_container">
      <span class="form_preview_indicator">{{pageElement.page.title}}</span>
    </div>
    <!-- <div class="pb_button">
      <button class="form_preview_next" *ngIf="dataService.viewForm.pageSlugs.indexOf(dataService.viewForm.selectdPageSlug) != 0" (click)="goToPrevious()">Previous Page</button>
    </div> -->
    <!-- <div class="pb_button pb_rgt">
      <button class="form_preview_next" *ngIf="dataService.viewForm.pageSlugs.indexOf(dataService.viewForm.selectdPageSlug) != dataService.viewForm.pageSlugs.length - 1" (click)="goToNext()">Next Page</button>
    </div> -->
  </div>
  
</div>