div, p, h1, h2, h3, h4, h5, h6, img {
    line-height: 100%;
}
.form_submit_wrap {
    position: absolute;
    width: 425px;
    border-radius: 0px;
    z-index: 15;
    height: 340px;
    top: 75px;
    left: -1px
}
.form_submit_modal {
    position: relative;
    width: 100%;
    height: 100%;
}
// Header Starts
.acc_drop_content {
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 10px 40px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 10px 40px rgba(0, 0, 0, 0.15);
    transition: visibility 0.5s;
    height: 100%;
}

.acc_drop_content li {
    background: #fff;
    border: none;
    width: 100%;
    text-align: left;
    height: 44px;
    line-height: 44px;
    color: #424e5c;
    font-size: 14px;
    border-bottom: 1px solid #dde0e3;
    display: flex;
    cursor: pointer;
    padding: 0px 10px 0px 56px;
    position: relative;
}

.acc_up_option:after,
.acc_up_option:before {
    display: block;
    position: absolute;
    left: 15%;
    content: "";
    width: 0;
    height: 0;
}

.acc_up_option:before {
    top: -10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgba(57, 70, 78, .08);
}

.acc_up_option:after {
    top: -9px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #fff;
}
.contentOuter {
    margin: 4%;
}
.workContent {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    font-family: roboto-regular;
    line-height: 25px;
}
p.workTime {
    font-family: roboto-bold;
    font-size: 30px;
    margin: 17px 0px;
    color: #536273;
}

span.timeHour {
    font-family: roboto-light;
    padding-right: 5px;
    font-size: 23px;
}
span.timeSecond {
    font-family: roboto-regular;
    font-size: 20px;
    padding-left: 3px;
    font-family: roboto-bold;
}
span.second {
    padding-left: 4px;
    font-family: roboto-light;
    font-size: 20px;
}
.workOuter {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}
.pause .imgCover {
    background-image: url("/assets/images/stop_copy_2.png");
    width: 30px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 7px;
}

.pause.clock {
    background: #04d4d4;
}

.pause{
    width: 35%;
    background: #387bff;
    border-radius: 3px;
    cursor: pointer;
}
.pauseBackground {
    display: flex;
    padding: 15px 13px;
    background-image: url("/assets/images/Pause_start.png");
    color: #fff;
    font-family: roboto-regular;
    font-size: 11px;
    border-radius: 5px;
    background-position: 260px -7px;
    background-repeat: no-repeat;
}
/*.clock .pauseBackground {
    display: flex;
    padding: 15px 13px;
    background-image: url("/assets/images/HomeIcon.png");
    color: #fff;
    font-family: roboto-regular;
    font-size: 11px;
    border-radius: 5px;
    background-position: 100px 17px;
    background-repeat: no-repeat;
}*/
.setTime span{
    font-family: roboto-bold;
    text-align: center;
    font-size: 14px;
    color: #414d5b;
    padding-left: 3px;
}
.setTime input {
    width: 70px;
    background: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-family: roboto-bold;
    text-align: left;
    font-size: 14px;
    color: #414d5b;
    line-height: 24px
}
.setTime label {
    background: #f2f2f2;
    padding: 3%;
    width: 50%;
    color: #757575;
    cursor: pointer;
    padding-right: 3%;
    white-space: nowrap;
}
.workTimingClose {
    background-image: url("/assets/images/pop_close.png");
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: -8px;
    cursor: pointer;
}
.setTime span.Hour {
    font-family: roboto-regular !important;
    margin-left: 2px;
}
.setTime p {
    padding: 3%;
    margin-left: 0%;
    padding-right: 0px;
    color: #757575;
    line-height: 25px;
    padding-left: 12px;
    width: 50%;
    text-align: right;
}
.setTime {
    display: flex;
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-top: 7%;
    font-size: 12px;
}
.textareaReflection textarea {
    height: 120px;
    border-radius: 0px;
    border: none;
    padding: 15px 18px;
    line-height: 18px;
    font-family: roboto-regular;
    margin-top: 4%;
    background: #f2f2f2;
    resize: none;
    margin-bottom: 4%;
    width: 100%;
    font-size: 13px;
    padding: 9px 10px;
    color: #5d6b7b;
}
.editWork .pauseBackground{
    background-image: none;
}
.pause h3 {
    padding-left: 9%;
    line-height: 14px;
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 2.5%;
    width: 165px;
}
.workOuter .pause.editWork h3 {
    padding-top: 0%;
}

.workHead {
    color: #536273;
    font-family: roboto-bold;
}
.workTiming {
    color: #75818f;
}
.buttonOuter button {
    background-color: #d9e9fd;
    color: #006df0;
    height: 26px;
    text-align: center;
    border: none;
    outline: none;
    min-width: 55px;
    text-align: left;
    border-radius: 3px;
    margin: 3% 2.5%;
    margin-left: 0px;
}
