<div class="nav_wrap">
  <ul>
      <a routerLink="./form-published" routerLinkActive="activeTab" class="published">
        <li>Published</li>
      </a>

      <a routerLink="./form-draft" routerLinkActive="activeTab" class="draft">
        <li>Drafts</li>
      </a>
      <a routerLink="./form-inactive" routerLinkActive="activeTab" class="await">
        <li>Inactive</li>
      </a>
  </ul>
  <div class="pagination_wrap deal_listing_pagination">
    <div class="pagination_outer">
      <!-- <pagination-controls (pageChange)="pageChanged($event)"  previousLabel="" nextLabel="" maxSize="5"></pagination-controls> -->
    </div>
  </div>
</div>



