.task_wrap {
    background-color: #f0f0f0;
    position: relative;
    width: 100%;
}

.task_wrap_body {
    position: relative;
    width: 100%;
    padding: 15px;
    float: left;
    display: block;
}