ul,
ol {
    list-style-type: none;
}
.fp_timewrap {
    display: flex;
    justify-content: flex-start;
}

.fp_input input {
    width: 100%;
    height: 60px;
    padding-left: 20px;
    background-color: #f1f1f1;
    outline: none;
    border: none;
}
span.error {
    margin-bottom: 10px;
    font-size: 15px;
    color: #d9463b;
    padding-left: 3px;
}
.fp_input label,
.fp_description label,
.fp_select label {
    font-size: 14px;
    color: #414d5b;
    font-weight: 500;
    padding-bottom: 10px;
    display: block;
    position: relative;
}

.fp_body {
    position: relative;
}
.fp_body ul p {
    margin-bottom: 10px !important;
    font-size: 14px;
    color: #414d5b;
}

.fp_body ul li {
    float: left;
    width: 15%;
    margin-right: 10px;
}