<div class="profile_wrap">
    <div class="profile_content">
      <div class="information-wrap">
        <div class="inform-left">
          <div class="detail-head">
            <h4>PERSONAL INFORMATION</h4>
          </div>
          <div class="detail-row">
            <div class="detail-left">
             <span>PHOTO</span>
            </div>
            <div class="detail-right">
                <!-- <div  class="profile_avatar"></div> -->
              <div class="photo"></div>
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-left">
              <span>NAME</span>
            </div>
            <div class="detail-right">
             Stella Little
            </div>
          </div>
          <div class="detail-row">
              <div class="detail-left">
                <span>USER TYPE</span>
              </div>
              <div class="detail-right">
               Student
              </div>
            </div>
          <div class="detail-row">
            <div class="detail-left">
              <span>DATE OF BIRTH</span>
            </div>
            <div class="detail-right">
              12 Jul 1994
            </div>
          </div>
          <div class="detail-row">
              <div class="detail-left">
                <span> PHONE NO</span>
              </div>
              <div class="detail-right">
                +01 75635334268
              </div>
            </div>
            <div class="detail-row">
                <div class="detail-left">
                  <span>RESPONSIBLE PERSON</span>
                </div>
                <div class="detail-right">
                  <div class="profile-img"></div>
                  <span class="profile-name">Peter Palmer</span>
                </div>
              </div>
          <div class="detail-head">
            <h4>ATTACHMENTS</h4>
          </div>
          <div class="detail-row">
            <div class="detail-right">
              <ol>
                <li>
                  <div class="file">File 1.png</div>
                </li>
                <li>
                  <div class="file">File 2.png</div>
                </li>
              </ol>
            </div>

          </div>
          <div class="clear"></div>
        </div>
        <div class="inform-right">
          <div class="detail-head">
            <h4>USER INFORMATION</h4>
          </div>
          <div class="detail-row">
            <div class="detail-left">
              <span>FIRST NAME</span>
            </div>
            <div class="detail-right">
             Stella
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-left">
              <span>LAST NAME</span>
            </div>
            <div class="detail-right">
                Little
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-left">
              <span>DATE ADDED</span>
            </div>
            <div class="detail-right">
              <span>26 Jul 2019</span>
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-left">
              <span>NOTES</span>
            </div>
            <div class="detail-right">
              Lorem ipsum dolor sit amet consectetur
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-left">
              <span>COLLEGE</span>
            </div>
            <div class="detail-right">
              <span> Lorem ipsum dolor sit amet</span>
            </div>
          </div>

          <div class="detail-row">
            <div class="detail-left">
              <span>BATCH</span>
            </div>
            <div class="detail-right">
               2017
            </div>
          </div>

        </div>
        <div class="clear"></div>
      </div>






