<div class="activity-wrap">
    <h4>Upcoming ( 4 ) </h4><div class="eventbtn"><div class="blue-icon"></div>New Event</div>
    <div class="schedule-inner">
    <div class="meeting-wrap">
      <div class="meeting">
        <div class="meeting-type">
          <p>Initial Meeting</p>
        </div>
        <div class="meeting-time"><p>Task <span>.</span> 10 Jul 2018 <span>|</span>10:30 AM<span>,</span> Responsible : </p>
          <div class="resp-person"><div class="avatar"></div><p class="name">Stella Little</p></div><div class="man-user"></div>
      </div>
    </div>
    </div>
    <div class="meeting-wrap">
        <div class="meeting">
          <div class="meeting-type">
            <p>Collect lead phone no</p>
          </div>
          <div class="meeting-time"><p>Task <span>.</span> 10 Jul 2018 <span>|</span>10:30 AM<span>,</span> Responsible : </p>
            <div class="resp-person"><div class="avatar"></div><p class="name">Stella Little</p></div>
        </div>
      </div>
      </div>
      <div class="meeting-wrap">
          <div class="meeting">
            <div class="meeting-type red-head">
              <p>Setup a meeting</p>
            </div>
            <div class="meeting-time"><p>Task <span>.</span> 10 Jul 2018 <span>|</span>10:30 AM<span>,</span> Responsible : </p>
              <div class="resp-person"><div class="avatar"></div><p class="name">Stella Little</p></div>
          </div>
        </div>
        </div>
    </div> <h4>Completed ( 4 ) </h4>
    <div class="schedule-inner">
        <div class="meeting-wrap">
          <div class="meeting">
            <div class="meeting-type closed">
              <p>Initial Meeting</p>
            </div>
            <div class="meeting-time"><p>Task <span>.</span> 10 Jul 2018 <span>|</span>10:30 AM<span>,</span> Responsible : </p>
              <div class="resp-person"><div class="avatar"></div><p class="name">Stella Little</p></div>
          </div>
        </div>
        </div>
        <div class="meeting-wrap">
            <div class="meeting">
              <div class="meeting-type closed">
                <p>Collect lead phone no</p>
              </div>
              <div class="meeting-time"><p>Task <span>.</span> 10 Jul 2018 <span>|</span>10:30 AM<span>,</span> Responsible : </p>
                <div class="resp-person"><div class="avatar"></div><p class="name">Stella Little</p></div>
            </div>
          </div>
          </div>

        </div>
</div>
