.error
{
    position: absolute;
    bottom: -29px;
}
.add_an{
    position: absolute;
    right: -100px;
    top: -6px;
}
.create-popup_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    //margin-top: 100px;
    background-color: white;
    z-index: 100000;
    margin-bottom: 50px;
}

.ckeditorin_createtaskpop {
    margin-bottom: 23px;
}

.ctaskmodal_header {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    display: inherit;
    left: 0;
    right: 0;
    position: relative;
    padding: 43px 33px;
    position: relative;
}

.ctaskmodal_header h3 {
    color: #002a5d;
    font-size: 18px;
}

.ctaskmodal-header ul {
    float: left;
    list-style-type: none;
    padding-left: 34px;
    height: 100px;
    line-height: 100px;
}

.hd_block_ico {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.mod_head_block:nth-child(1) {
    margin-right: 60px;
}

.mod_header_right .mod_head_block:nth-child(1) {
    margin-right: 10px;
}

.mod_header_right {
    position: absolute;
    right: 34px;
    top: 23px;
    display: flex;
}

.mod_head_block select {
    height: 60px;
    width: 280px;
    background-color: #f4f4f4;
    border: 0px;
    padding: 20px;
    margin-left: 20px;
}

.calender_icon {
    position: absolute;
    width: 17px;
    right: 17px;
    top: 20px;
    cursor: pointer;
    z-index: 0;
}

.more_btn {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: #2479bd;
    font-size: 15px;
    margin-top: 22px;
    margin-left: 35px;
    cursor: pointer;
}

.all_emp {
    width: 42px;
    height: 42px;
    line-height: 42px;
}

.attach_btns .atc_btn {
    background-color: #e7f1fe;
    color: #006df0;
    height: 32px;
    width: 176px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
}

.mod_header_left {
    position: absolute;
    left: 34px;
    top: 44px;
    display: flex;
}

.mod_head_block {
    display: flex;
    vertical-align: top;
    font-weight: 100;
    font-size: 15px;
    color: #404040;
}

.mod_head_block p {
    color: #526172;
    font-size: 16px;
    font-family: Roboto-Regular;
}

.template_p p {
    color: #526172;
    font-size: 16px;
    font-family: Roboto-Regular;
    margin-top: 20px;
}

.hd_block_ico {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    margin-right: 10px;
}

.mod_head_block:nth-child(1) {
    margin-right: 60px;
}

.mod_header_right .mod_head_block:nth-child(1) {
    margin-right: 10px;
}

.mod_header_right {
    position: absolute;
    right: 34px;
    top: 23px;
}

.mod_head_block .select {
    height: 60px;
    width: 280px;
    background-color: #f4f4f4;
    border: 0px;
    padding: 20px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
    color: #526172;
}

.mod_head_block .select span {
    color: #526172;
}

.sel_opt_box {
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 63px;
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.17);
}

.sel_opt_box section {
    padding: 10px;
}

.close {
    display: inline-block;
    vertical-align: middle;
    margin-top: 16px;
    width: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.title_desc_wrap input {
    width: 100%;
    height: 60px;
    border: 0px solid;
    background-color: #f4f4f4;
    margin-bottom: 23px;
    padding: 20px;
    font-size: 16px;
}

.title_desc_wrap textarea {
    width: 100%;
    height: 160px;
    border: 0px solid;
    background-color: #f4f4f4;
    resize: none;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.ctaskmodal_body {
    padding: 33px;
    padding-top: 0px;
    padding-bottom: 107px;
}

.date_remind_wrap {
    min-width: 32.5%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-bottom: 23px;
    background-color: #f4f4f4;
}

.date_remind_wrap input {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: transparent;
    border: 0px solid;
    font-size: 15px;
    z-index: 1;
    position: relative;
    padding: 0px 10px 0px 115px;
    cursor: pointer;
}

.date_remind_wrap select {
    height: 60px;
    width: 100%;
    background-color: #f4f4f4;
    border: 0px solid;
    padding: 10px 17px;
    font-size: 15px;
}

.attach_btns {
    cursor: pointer;
    margin-bottom: 23px;
}

.atc_btn img {
    height: 14px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}

.upload_wrap {
    border: none;
    text-align: center;
    height: 184px;
    position: relative;
    //margin-top: 50px;
    color: #536273;
    font-size: 14px;
    background-color: #ecf6f7;
    margin-bottom: 23px;
}

.selectFiles {
    color: #006df0;
}

.upfomdrive {
    color: #29cc97;
}

.upload_wrap input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.up_ico {
    display: inline-block;
    width: 35px;
    margin-top: 35px;
}

.upload_wrap p {
    margin-top: 20px;
}

.stst_block {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 22px;
    word-break: break-all;
}

.stst_block span {
    padding-left: 22px;
}

.stst_block:nth-child(1) {
    width: 39%;
    color: #006df0;
}

.stst_block:nth-child(1) span {
    color: black;
    position: absolute;
    left: 0;
    padding-left: 0;
}

.stst_block:nth-child(2) {
    width: 19%;
    text-align: center;
}

.stst_block:nth-child(3) {
    width: 20%;
    text-align: center;
}

.stst_block:nth-child(4) {
    width: 20%;
    text-align: right;
}

.stat_rem {
    display: inline-block;
    vertical-align: middle;
    background-color: #e7f1fe;
    color: #006df0;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 14px;
}

.attach_stat_wrap {
    margin-top: 40px;
}

.checklist_expan_wrap {
    margin-top: 40px;
    margin-bottom: 23px;
}

.drag_ico {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.clist_cnt {
    display: inline-block;
    vertical-align: middle;
    min-width: 480px;
}

.checklist_listing {
    margin-bottom: 40px;
}

.checklist_wrap {
    // padding-left: 49px;
    width: 360px;
    background: #f4f4f4;
    position: relative;
}

.checklist_wrap input {
    height: 60px;
    width: 100%;
    background-color: #f4f4f4;
    border: 0px solid;
    padding: 25px;
    font-size: 15px;
}

.checkbox {
    position: absolute;
    left: 0;
}

.p_left {
    padding-left: 50px;
    min-height: 25px;
    margin-bottom: 23px;
}

.resp_person_dropdown {
    width: 393px;
    background-color: white;
    position: absolute;
    left: 0; //top: 60px;
    top: calc(100% - 0px);
    box-shadow: 0px 0px 20px 0px #00000026;
    z-index: 100000000001;
}

.close_pop {
    display: inline-block;
}

.drop_body {
    max-height: 375px;
    overflow-y: scroll;
    position: relative;
}

.resp_drop_head {
    padding: 0px 22px;
    border-bottom: 1px solid #dadada;
    height: 48px;
    line-height: 48px;
    position: relative;
}

.drop_nav {
    padding: 0px 22px;
    border-bottom: 1px solid #dadada;
}

.drop_nav ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 43px;
    padding: 20px 0px;
    position: relative;
    cursor: pointer;
}

.drop_nav ul li.active:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: red;
    font-weight: bold;
}

.drop_nav ul li:hover:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: red;
    font-weight: bold;
}

.pad_wrap {
    padding-top: 30px;
}

.pad_wrap section {
    position: relative;
    height: 43px;
    padding-left: 64px;
    line-height: 43px;
    margin-bottom: 24px;
    cursor: pointer;
}

.recent_ico {
    position: absolute;
    left: 0;
    width: 42px;
    height: 42px;
    background-image: url(/assets/images/all/tdp1.png);
}
.to_zero
{
    top: 0;
}

.drop_body {
    padding: 0px 8px;
}

.pop_expan_wrap {
    margin-bottom: 20px;
}

.appr_head {
   //margin-top: 40px;
}

.close_drop {
    position: absolute;
    right: 22px;
    width: 12px;
    background-image: url(/assets/images/pop_close.png);
    height: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 17px;
}

.accord_head {
    height: 38px;
    width: 100%;
    background-color: #f4f4f4;
    line-height: 38px;
    margin-bottom: 20px;
}

.accord_subhead_body {
    padding-left: 85px;
}

.accord_head_body {
    padding-left: 65px;
}

.accord_arrow {
    width: 13px;
    height: 13px;
    background-image: url(/assets/images/next.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px;
    margin-top: 12px;
}

.num_block {
    display: inline-block;
    width: 68px;
    height: 60px;
    background-color: #f6f6f6;
    vertical-align: middle;
    margin-right: 36px;
}

.num_block input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0px;
    background-color: transparent;
    font-size: 18px;
}

.week_block {
    display: inline-block;
    width: 175px;
    height: 60px;
    background-color: #f6f6f6;
    vertical-align: middle;
}

.check_drag {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    position: relative;
}

.template-add {
    padding-right: 34px;
    color: #536273;
}

.template-add label {
    margin-left: 10px;
}

.repeat_wrap {
    //margin: 50px 0px;
    margin-bottom: 23px;
}

.per_wrap {
    display: inline-block;
    vertical-align: middle;
}

.per_wrap .date_remind_wrap {
    margin-top: 0px;
    min-width: 280px !important;
    margin-bottom: 0px;
}
.ckeditorin_createtaskpop {
    margin-bottom: 23px;
    height: 142px;
}
.top_sect {
    margin-top: 23px;
}

.marg_span {
    display: inline-block;
    vertical-align: middle;
    width: 77px;
    margin-left: 19px;
}

.marg_span_top {
    display: inline-block;
    vertical-align: middle;
    width: 119px;
}
.check_opt_sec
{
    margin-bottom: 23px;
    margin-top: 0px;
}
.attach_expan_head
{
    margin-bottom: 23px;
}
.ctaskmodal_footer {
    // height: 70px;
    // line-height: 70px;
    // /* box-shadow: -10px -20px 68px -28px rgba(34, 34, 34, 0.35); */
    // border-top: 1px solid #dde0e3;
    // background: #fff;
    height: 70px;
    line-height: 70px;
    border-top: 1px solid #dde0e3;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: calc(100% - 305px);
    left: 285px;
    z-index: 111111111111;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.ctmodal_createbtn {
    height: 40px;
    outline: none;
    border: none;
    width: 117px;
    background-color: #ff2342;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-right: 23px;
}

.ctmodal_cancelbtn {
    height: 40px;
    outline: none;
    border: 2px solid #536273;
    width: 117px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #536273;
}

.ctaskmodal_footer ul {
    list-style-type: none;
    padding-left: 34px;
    display: inline-block;
}

.ctaskmodal_footer ul li {
    display: inline-block;
    vertical-align: middle;
}

.select_close {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(/assets/images/pop_close.png);
    cursor: pointer;
    margin-left: 10px;
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.span_dropdown_wrap {
    height: 100%;
    padding: 0px 20px;
    position: relative;
    line-height: 60px;
    cursor: pointer;
}

.span_drop_pop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #0000002e;
    z-index: 300002;
    padding: 25px;
}

.span_drop_pop section {
    height: 20px;
    line-height: 20px;
    margin-bottom: 16px;
    cursor: pointer;
}

.span_drop_pop section:nth-child(4) {
    margin-bottom: 0px;
}

.week_wrap section {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}

.week_wrap section label {
    margin-right: 11px;
}

.week_wrap {
    margin-bottom: 23px;
}

.three_in_one {
    display: flex;
    justify-content: space-between;
}

.remind_drop {
    display: inline-block;
    vertical-align: top;
    background-color: #f4f4f4;
    width: 220px;
    height: 60px;
    line-height: 60px;
    margin: 0px 15px;
    position: relative;
    padding-left: 10px;
}

.recent_block {
    padding-left: 50px;
}

section {
    color: #526172
}

.ct_labelinInput {
    position: absolute;
    font-size: 14px;
    color: #b9bfc6;
    font-family: Roboto-Regular;
    top: 22px;
    left: 20px;
}

.pop_expan_wrap input {
    padding: 0px 0px 0px 150px;
}

.pop_expan_wrap .select_approver {
    padding: 0px 0px 0px 120px;
}

.rad_flex_wrap {
    display: flex;
    justify-content: flex-start;
}

.rad_flex_wrap .marg_span,
.rad_flex_wrap .radio_out {
    //margin-top: 18px;
}
.resp_overlay
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background-color: red;
    z-index: 100000000;
}



@media (max-width: 1400px) {
    .all_emp
    {
        width: 30px;
        height: 30px;
        line-height: 30px;
        top: 0;
    }
    .mod_head_block {
        margin-right: 12px;
        font-size: 14px;
    }
    .mod_head_block .select {
        width: 190px;
    }
    .create-popup_wrap {
        //margin-top: 75px;
    }
    .ctaskmodal_header h3 {
        font-size: 16px;
    }
    .selected_tag,
    .ctaskmodal_header,
    .p_left,
    .more_btn,
    .date_remind_wrap input,
    .title_desc_wrap input,
    textarea,
    .check_opt_sec,
    .pop_expan_wrap,
    .pop_expan_wrap input,
    .repeat_wrap,
    .num_block input,
    .top_sect,
    .remind_drop {
        font-size: 14px;
    }
}

@media (max-width: 1366px) {
    .ctaskmodal_header {
        padding: 30px 20px;
    }
    .mod_header_left {
        top: 30px;
    }
    .mod_header_right {
        top: 10px;
    }
    .three_in_one {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .week_wrap section {
        margin-bottom: 20px;
    }
    .ctaskmodal_footer {
        width: calc(100% - 249px) !important;
        left: 234px !important;
    }
}