<section class="as_content" *ngIf="data.type == 'announcement'">
  <div class="as_content_sector">
    <div class="as_content_header">
      <div class="h_left">
        <img *ngIf="data.announcement.ancCreatorImageUrl === null" [src]="assetUrl+'assets/images/all/tdp1.png'" />
        <img *ngIf="data.announcement.ancCreatorImageUrl !== null" [src]="data.announcement.ancCreatorImageUrl" />
        <div class="user_name_list">
          <span class="blue">
            {{data.announcement.ancCreatorName}}
          </span>
          <span class="bt_arw">
            <img [src]="assetUrl+'assets/images/right_arrow.png'" />
          </span>
          <span class="grey_1" *ngIf="data.announcement.toAllEmployee == true">
            To all Employees
          </span>
          <span *ngIf="data.announcement.toAllEmployee == false">
            <span class="grey_1" *ngFor="let toUser of data.announcement.toUsers | slice:0:2;let i = index">
              {{toUser.userName}}{{i === data.announcement.toUsers.length - 1 ?'':','}}
            </span>
            <span *ngIf="data.announcement.toUsers.length > 2" class="user_more_block"
              (click)="actStreamDataService.userCount[index] = !actStreamDataService.userCount[index]">
              + {{data.announcement.toUsers.length - 2}}
            </span>
          </span>
          <!-- User Count Pop Up -->
          <div class="filter_cancel_overlay" *ngIf="actStreamDataService.userCount[index]"
            (click)="actStreamDataService.userCount[index] = false"></div>
          <div class="user_count_pop" *ngIf="actStreamDataService.userCount[index]">
            <div class="user_count_pop_header">
              <h6>Users</h6>
              <a class="copy_option_close" (click)="actStreamDataService.userCount[index] = false">&times;</a>
            </div>
            <div class="user_count_pop_body">
              <div *ngFor="let user of data.announcement.toUsers" class="user_count_list">
                <div *ngIf="user.userImageUrl === null" class="user_count_list_dp"></div>
                <div *ngIf="user.userImageUrl !== null" class="user_count_list_dp"
                  [ngStyle]="{'background-image': 'url(' + user.userImageUrl + ')'}"></div>
                {{user.userName}}
              </div>
            </div>
          </div>
          <!-- User Count Pop Up -->
        </div>
      </div>
      <div class="h_right">
        <h6>{{data.announcement.createdAt * 1000 | date: 'MMM dd, yyyy, hh:mm a'}}</h6>
        <div class="opt_r" *ngIf="data.announcement.ancCreatorSlug === loggedUser"
          (click)="actStreamDataService.optionBtn[index] = !actStreamDataService.optionBtn[index]">
          <img [src]="assetUrl+'assets/images/more.png'" />
          <div class="filter_cancel_overlay" *ngIf="actStreamDataService.optionBtn[index]"
            (click)="!actStreamDataService.optionBtn[index]"></div>
          <div class="edt_opt_r" *ngIf="actStreamDataService.optionBtn[index]">
            <section (click)="updateAnnouncement()">
              Edit
            </section>
            <section (click)="deleteAnnouncement()">
              Delete
            </section>
          </div>
        </div>
      </div>
      <div class="confirm_popup" *ngIf="actStreamDataService.deletePopUp[index]" (click)="cancelDelete()">
        <div class="confirm_pop_body">
          <section>
            <div class="close_drop" (click)="cancelDelete()">
            </div>
            <p class="pop_main">{{actStreamDataService.deleteMessage.msg}}</p>
          </section>
          <section>
            <div class="confirm_pop_btn" (click)="conformDelete()">
              Confirm
            </div>
            <div class="confirm_pop_btn" (click)="cancelDelete()">
              Cancel
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="as_content_body message">
      <h4>{{data.announcement.ancTitle}}</h4>
      <div *ngIf="!viewMore && !viewLess" class="announcement grey">
        <img [src]="assetUrl+'assets/images/as/speaker.png'" />
        <p [innerHTML]="data.announcement.ancDesc"></p>
      </div>
      <div *ngIf="viewMore && !viewLess" class="announcement grey">
        <img [src]="assetUrl+'assets/images/as/speaker.png'" />
        <p [innerHTML]="trimmedString"></p>
         <div (click)="showMore()" class="more-btn">Show More</div>
      </div>
      <div *ngIf="!viewMore && viewLess" class="announcement grey">
        <img [src]="assetUrl+'assets/images/as/speaker.png'" />
        <p [innerHTML]="data.announcement.ancDesc"></p>
         <div (click)="showLess()" class="more-btn">Show Less</div>
      </div>
      
       
      <div class="announcement_tail">
        <section class="hasRead" *ngIf="!hasRead">
          <button class="red_btn" *ngIf="data.announcement.ancCreatorSlug !== loggedUser"
            (click)="makeHasRead(data.announcement.ancSlug)">Mark as read</button>
          <p>Read by</p>
          <span class="read_count"> {{count.length}} </span><span class="Users">users</span>
        </section>
        <div *ngIf="hasRead" class="announcement_tail">
          <p class="yhread">
            <img [src]="assetUrl+'assets/images/as/read_check.png'" /> You have read this</p>
          <p class="yhr_sep">|</p>
          <p>Read by
            <span class="read_count"> {{count.length}} </span>users</p>
        </div>
      </div>
    </div>
    <div class="as_content_footer">
      <div class="like">
        <div class="like_iconbg like_icon" [ngClass]="{'active': data.announcement.yourAnnouncementResponse === 'like'}"
          (click)="announcementResponse()">
        </div>
        <div class="like_count">
          {{responseCount}}
        </div>
      </div>
      <div class="comment">
        <div class="comment_icon" (click)="getAnnouncementComments()">
          <img [src]="assetUrl+'assets/images/as/comment.png'" />
        </div>
        <div (click)="getAnnouncementComments()" class="comment_count">{{commentCount}}</div>
      </div>
    </div>
    <section class="comments_wrap" *ngIf="actStreamDataService.comments[index]">
      <div class="commented" *ngFor="let comment of data.comments;let idx = index"
        [hidden]="comment.ancParentCommentSlug !== null">
        <div class="commented_header">
          <img *ngIf="comment.commentCreatorImageUrl === null" [src]="assetUrl+'assets/images/all/tdp1.png'" />
          <img *ngIf="comment.commentCreatorImageUrl !== null" [src]="comment.commentCreatorImageUrl" />
          <h4>{{comment.commentCreatorUserName}}</h4>
          <div *ngIf="loggedUser === comment.commentCreatorUserSlug" class="d_eopt"
            (click)="actStreamDataService.cmtOptionBtn[idx] = !actStreamDataService.cmtOptionBtn[idx]">
            <img [src]="assetUrl+'assets/images/more.png'" />
            <div class="filter_cancel_overlay" *ngIf="actStreamDataService.cmtOptionBtn[idx]"
              (click)="!actStreamDataService.cmtOptionBtn[idx]"></div>
            <div class="edt_opt_r" *ngIf="actStreamDataService.cmtOptionBtn[idx]">
              <section (click)="deleteComment(idx)">
                Delete
              </section>
              <section (click)="updateComment(comment)">
                Edit
              </section>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="confirm_popup" *ngIf="actStreamDataService.deleteCommentPopUp[idx]">
          <div class="confirm_pop_body">
            <section>
              <div class="close_drop" (click)="cancelDelete()">
              </div>
              <p class="pop_main">{{actStreamDataService.deleteMessage.msg}}</p>
            </section>
            <section>
              <div class="confirm_pop_btn" (click)="conformDeleteComment(comment)">
                Confirm
              </div>
              <div class="confirm_pop_btn" (click)="cancelDelete()">
                Cancel
              </div>
            </section>
          </div>
        </div>
        <div class="commented_body">
          <p>{{comment.comment}}</p>
        </div>
        <div class="comment_footer">
          <div class="like">
            <div class="like_iconbg like_icon" [ngClass]="{'active': comment.yourCommentResponse === 'like'}"
              (click)="getResponseForComment(comment, idx)"></div>
            <div class="like_count">
              {{comment.commentResponses.length}}
            </div>
          </div>
          <div class="reply">
            <div class="reply_icon" (click)="getCommentReply(comment, idx)">
              <img [src]="assetUrl+'assets/images/as/reply.png'" />
            </div>
            <div (click)="getCommentReply(comment, idx)" class="reply_count">{{comment.replyCount}}</div>
          </div>
        </div>
        <section class="comments_wrap" *ngIf="actStreamDataService.reply[idx]">
          <div class="commented" *ngFor="let reply of data.comments[idx].reply;let i = index"
            [hidden]="reply.ancParentCommentSlug === null">
            <div class="commented_header">
              <img *ngIf="reply.commentCreatorImageUrl === null" [src]="assetUrl+'assets/images/all/tdp1.png'" />
              <img *ngIf="reply.commentCreatorImageUrl !== null" [src]="reply.commentCreatorImageUrl" />
              <h4>{{reply.commentCreatorUserName}}</h4>
              <div *ngIf="loggedUser === reply.commentCreatorUserSlug" class="d_eopt"
                (click)="actStreamDataService.replyOption[i] = !actStreamDataService.replyOption[i]">
                <img [src]="assetUrl+'assets/images/more.png'" />
                <div class="filter_cancel_overlay" *ngIf="actStreamDataService.replyOption[i]"
                  (click)="!actStreamDataService.replyOption[i]"></div>
                <div class="edt_opt_r" *ngIf="actStreamDataService.replyOption[i]">
                  <section (click)="deleteReply(reply, i)">
                    Delete
                  </section>
                  <section (click)="updateCommentReply(reply,comment)">
                    Edit
                  </section>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="confirm_popup" *ngIf="actStreamDataService.deleteReplyPopUp[i]">
              <div class="confirm_pop_body">
                <section>
                  <div class="close_drop" (click)="cancelDelete()">
                  </div>
                  <p class="pop_main">{{actStreamDataService.deleteMessage.msg}}</p>
                </section>
                <section>
                  <div class="confirm_pop_btn" (click)="conformDeleteReply(comment, idx)">
                    Confirm
                  </div>
                  <div class="confirm_pop_btn" (click)="cancelDelete()">
                    Cancel
                  </div>
                </section>
              </div>
            </div>
            <div class="commented_body">
              <p>{{reply.comment}}</p>
            </div>
            <div class="comment_footer">
              <div class="like">
                <div class="like_iconbg like_icon" [ngClass]="{'active': reply.yourCommentResponse === 'like'}"
                  (click)="replyResponse(reply, comment, idx)"></div>
                <div class="like_count">
                  {{reply.commentResponses.length}}
                </div>
              </div>
              <div class="reply">
                <div class="reply_icon" (click)="replyToReply(reply, comment)">
                  <img [src]="assetUrl+'assets/images/as/reply.png'" />
                </div>
              </div>
            </div>
          </div>
          <div class="to_comment">
            <img *ngIf="actStreamDataService.CommentsAndResponses.imageUrl === null"
              [src]="assetUrl+'assets/images/all/tdp1.png'" />
            <img *ngIf="actStreamDataService.CommentsAndResponses.imageUrl !== null"
              [src]="actStreamDataService.CommentsAndResponses.imageUrl" />
            <input type="text" placeholder="Reply" class="to_comment_input" [(ngModel)]="comment.replyTxt"
              autofocus=true (keydown.enter)="addCommentReply(comment.replyTxt, comment, idx)"
              (input)="showReplayList(comment.replyTxt)">
            <div class="filter_cancel_overlay" *ngIf="replaylist" (click)="hideReplayList()"></div>
            <div class="resp_person_dropdown" *ngIf="replaylist">
              <div class="resp_drop_head">
                <span>PEOPLE</span>
                <div class="close_drop"></div>
              </div>
              <div class="drop_down_wrap">
                <div class="drop_down_wrap">
                  <section class="drop_body">
                    <div class="recent_wrap pad_wrap">
                      <section *ngFor="let user of actStreamDataService.responsiblePersons.list"
                        (click)="selectReplayUser(user,comment)">
                        <div *ngIf="user.employeeImage === null" class="recent_ico"></div>
                        <div *ngIf="user.employeeImage !== null" class="recent_ico"
                          [ngStyle]="{'background-image': 'url(' + user.employeeImage + ')'}"></div>
                        {{user.employee_name}}
                      </section>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section>
        <div class="to_comment">
          <img *ngIf="actStreamDataService.CommentsAndResponses.imageUrl === null"
            [src]="assetUrl+'assets/images/all/tdp1.png'" />
          <img *ngIf="actStreamDataService.CommentsAndResponses.imageUrl !== null"
            [src]="actStreamDataService.CommentsAndResponses.imageUrl" />
          <input type="text" placeholder="Comment" class="to_comment_input" [(ngModel)]="commentTxt" autofocus
            (keydown.enter)="addAnnouncemetComment()" (ngModelChange)="showList()">
          <div class="filter_cancel_overlay" *ngIf="list" (click)="hideList()"></div>
          <div class="resp_person_dropdown" *ngIf="list">
            <div class="resp_drop_head">
              <span>PEOPLE</span>
              <div class="close_drop"></div>
            </div>
            <div class="drop_down_wrap">
              <div class="drop_down_wrap">
                <section class="drop_body">
                  <div class="recent_wrap pad_wrap">
                    <section *ngFor="let user of actStreamDataService.responsiblePersons.list"
                      (click)="selectUser(user)">
                      <div *ngIf="user.employeeImage === null" class="recent_ico"></div>
                      <div *ngIf="user.employeeImage !== null" class="recent_ico"
                        [ngStyle]="{'background-image': 'url(' + user.employeeImage + ')'}"></div>
                      {{user.employee_name}}
                    </section>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>