.nav_wrap {
    background-color: white;
    display: flex;
    width: 100%;
}
.nav_wrap ul {
    width: 70%;
    display: inline-block;
    vertical-align: top;
}
@media (max-width: 1366px)
{
    .nav_wrap ul li {
        margin: 0px 25px;
        padding: 20px 0px 20px 0px;
        margin-right: 40px;
    }
}
@media (max-width: 1460px)
{
    .nav_wrap ul li {
        font-size: 14px;
    }
}
.nav_wrap li a {
    color: #475360;
}
 .nav_wrap ul li.active{
    font-family: roboto-bold;
    border-bottom: 3px solid #ff2e4c;
}
.activeTab li {
  border-bottom: 3px solid #ff2e4c !important;
  font-weight: bold;
  color: #424e5c;
}
.drive_wrap{
    position: relative;
}
/*pagination*/
.deal_listing_pagination .ngx-pagination a
{
    height: 27px !important;
    line-height: 23px !important;
}
.pagination_wrap{
    color: #7b7b7b;
    font-family: roboto-medium;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 30%;
}

.pagination_elements{
    display: inline-block;
    vertical-align: top;
    z-index: 10;
    position: relative;
    margin: 0px 2px;
    cursor: pointer;
}
.pagination_outer{
    display: inline-block;
    vertical-align: top;
    margin-left: 30%;
    margin-top: 9px;
}
.pagination_elements
{
    margin-top: 24px;
}
.ngx-pagination
{
    margin-bottom: 0rem !important;
}
.nav_wrap .deal_listing_pagination .ngx-pagination .current {
    padding: 2px 10px !important;
    background: red;
    color: #178ccb;
    cursor: default;
    border-radius: 4px;
    /* margin-bottom: 12px; */
    line-height: 22px !important;
}
.nav_wrap .ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem;
    color: #cacaca;
    cursor: default;
    margin-top: 3px !important;
}
li.pagination-previous.disabled {
    margin-top: 3px !important;
}
li.pagination-next.disabled {
    margin-top: 3px !important;
}
.pagination-previous::before
{
    margin-top: 14px !important;
}
.deal_listing_pagination .ngx-pagination .current
{
    background: red !important;
}

.activeTab li {
    border-bottom: 3px solid #ff2e4c !important;
    font-weight: bold;
    color: #424e5c;
}
