<div class="nav_wrap">
    <ul>
        <a routerLink="./current-license" routerLinkActive="activeTab" class="current">
          <li>Current Licenses</li>
        </a>

        <a routerLink="./request" routerLinkActive="activeTab" class="request">
          <li>Requests</li>
        </a>
        <a routerLink="./awaiting-activation" routerLinkActive="activeTab" class="await">
          <li>Awaiting Activation</li>
        </a>
        <a routerLink="./expired" routerLinkActive="activeTab" class="expire">
          <li>Expired</li>
        </a>
    </ul>
    <div class="pagination_wrap deal_listing_pagination">
      <div class="pagination_outer">
        <!-- <pagination-controls (pageChange)="pageChanged($event)"  previousLabel="" nextLabel="" maxSize="5"></pagination-controls> -->
      </div>
    </div>
</div>



