<div class="elements_wrap address_wrap" (click)="activateElement()" id="{{currentElementIndex}}">
	<div class="element_pad">
		<div class="elements_head">
			<div class="ele_icon ele_icon_address">
			</div>
			<h4>Address</h4>
		</div>
		<div class="element_body active_element" [dndDragDisabled]='dataService.formElements.focusSelect' [dndDraggable]="{effectAllowed:'move'}" [ngClass]="{'element_display_block': dataService.formElementToggle.activeIndex === currentElementIndex}">
			<div class="element_input">
				<input #focus (focus)="dataService.formElements.focusSelect=true" (blur)= "dataService.formElements.focusSelect=false" type="text" class="" name="text" placeholder="Enter the title"   [(ngModel)]="addressElement.address.label" (ngModelChange)="validateElement()"><!--dndNoDrag-->
				<p class="error" *ngIf="!this.addressElement.isValidated && dataService.formValidation.validating">Required Field</p>

			</div>
			<div class="">
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="Street Address">
				</div>
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="Address Line 2">
				</div>
			</div>
			<div class="addresswrap_input">
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="City">
				</div>
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="State / Province / Region">
				</div>
			</div>
			<div class="addresswrap_input">
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="Postal / Zip Code">
				</div>
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="Country">
				</div>
			</div>

			<div class="ele_icon drag_outer">
			</div>
		</div>
		<div class="element_body inactive_element" [ngClass]="{'active_element': dataService.formElementToggle.activeIndex === currentElementIndex}">
			<div class="p_label">
				<label>{{addressElement.address.label || "Enter the title"}}</label>
			</div>
			<div class="">
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="Street Address">
				</div>
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="Address Line 2">
				</div>
			</div>
			<div class="addresswrap_input">
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="City">
				</div>
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="State / Province / Region">
				</div>
			</div>
			<div class="addresswrap_input">
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="Postal / Zip Code">
				</div>
				<div class="element_line_input">
					<input [disabled]="true" type="text" class="" name="text" placeholder="Country">
				</div>
			</div>
		
			<div class="ele_icon drag_outer">
			</div>
		</div>
		<div class="element_footer active_element" [ngClass]="{'element_display_block': dataService.formElementToggle.activeIndex === currentElementIndex}">
			<ul class="efleft">
				<li>
					<div class="checkbox">
						<label>
							<div class="check_outer">
								<input type="checkbox" id="1_in" name="" id=""  [(ngModel)]="addressElement.address.isRequired" >
								<div class="check" for="1_in"></div>
							</div>
							Required
						</label>
					</div>
				</li>
			</ul>
			<ul class="efright">
				<li>
					<button (click)="deleteElement()">Delete</button>
				</li>
				<li>
					<button (click)="dulpicateElement()">Duplicate</button>
				</li>
			</ul>
		</div>
	</div>
<!-- Delete popup start-->
<div *ngIf = "dataService.deletePopup[idx]" class="confirm_popup" >
    <div class="confirm_pop_body">
      <section>
        <div class="close_drop" (click)="closePopup()">
        </div>
        <p class="pop_main">Are you sure you want to delete the selected element?</p>
      </section>
      <section>
        <div class="confirm_pop_btn" (click)="deleteConform()">
          Confirm
        </div>
        <div class="confirm_pop_btn" (click)="closePopup()">
          Cancel
        </div>
      </section>
    </div>
  </div>
<!-- Delete popup end-->
</div>