<div class="recent_wrap">
  <perfect-scrollbar>
    <section>
      <div class="chat_contact_row group" routerLink="./groupChat" routerLinkActive="contact">
        <img [src]="assetUrl+'assets/images/chat/group.png'" />
        <p>General Chat</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row" routerLink="./singleUser" routerLinkActive="contact">
        <img [src]="assetUrl+'assets/images/chat/user1.png'" />
        <p>Callum Bery</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user2.png'" />
        <p>Aidan Sharp</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user3.png'" />
        <p>Stella Little</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user1.png'" />
        <p>Aidan Sharp</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user3.png'" />
        <p>Stella Little</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user1.png'" />
        <p>Callum Bery</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row" routerLink="./singleUser" routerLinkActive="contact">
        <img [src]="assetUrl+'assets/images/chat/user1.png'" />
        <p>Callum Bery</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user2.png'" />
        <p>Aidan Sharp</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user3.png'" />
        <p>Stella Little</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user1.png'" />
        <p>Aidan Sharp</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user3.png'" />
        <p>Stella Little</p>
      </div>
    </section>
    <section>
      <div class="chat_contact_row">
        <img [src]="assetUrl+'assets/images/chat/user1.png'" />
        <p>Callum Bery</p>
      </div>
    </section>
  </perfect-scrollbar>
</div>