<div class="chat_invite_wrap">
  <h4 class="chat_invite_heading">Members</h4>
  <a class="chat_invite_close" (click)="chatDataService.memberModal.show = false">&times;</a>
  <section class="">
    <div class="member_ppl">
      <img class="member_avatar" [src]="assetUrl+'assets/images/chat/user1.png'" />
      <p>Stella Little</p>
      <img class="exit" [src]="assetUrl+'assets/images/chat/exit.png'" />
    </div>
    <div class="member_ppl">
      <img class="member_avatar" [src]="assetUrl+'assets/images/chat/user2.png'" />
      <p>Callum Berry</p>
      <img class="exit" [src]="assetUrl+'assets/images/chat/exit.png'" />
    </div>
    <div class="member_ppl">
      <img class="member_avatar" [src]="assetUrl+'assets/images/chat/user3.png'" />
      <p>Wayn Hudson</p>
      <img class="exit" [src]="assetUrl+'assets/images/chat/exit.png'" />
    </div>
  </section>
</div>