<div class="publish_form">
  <div class="overlaypop" (click)="cancelFormSend()"></div>
  <perfect-scrollbar>
    <div class="publish_form_wrap">
      <div class="publish_form_wrap_header">
        <h4>Publish Form</h4>
        <a class="close" (click)="cancelFormSend()">&times;</a>
      </div>
      <div class="publish_form_wrap_body">
        <div class="publish_form_content">
          <div class="publish_form_content_row">
            <h4 class="title">{{dataService.createForm.title}}</h4>
            <p class="para">{{dataService.createForm.description}}</p>
          </div>
          <div class="publish_wrap">
            <div class="share_option_body">
              <section class="user_drop_nav">
                <ul>
                  <li [ngClass]="{active:activeRpTab == 'link'}" (click)="activeRpTab = 'link'">Link</li>
                  <li [ngClass]="{active:activeRpTab == 'people'}" (click)="activeRpTab = 'people'">People</li>
                </ul>
              </section>
              <section class="user_drop_body">
                <div *ngIf="activeRpTab === 'link'" class="">
                  <section class="copy_link">
                    <div class="link_drop_in">
                      <input type="text" placeholder="" [(ngModel)]="formSubmitLoader" >
                    </div>
                    <!-- <div class="user_count_list anyone">
                      <p>Anyone with the link can</p>
                      <span>
                        <div class="user_count_input drop_dropdown_wrap drop_icon_input">
                          <input type="text" class="" name="text" placeholder="Can View" (click)="firstchoice11 = !firstchoice11">
                          <div class="drop_drop_pop commonn_popup" *ngIf="firstchoice11">
                            <section>
                              Can View
                            </section>
                            <section>
                              Can Update
                            </section>
                          </div>
                        </div>
                      </span>
                      <button class="copylink">Copy Link</button>
                    </div> -->

                    <div class="clear"></div>
                  </section>
                </div>
                <div *ngIf="activeRpTab === 'people'" class="department_wrap">
                  <section>
                    <div class="peopl_section_one">
                      <div class="cw_select">
                        <input type="text" class="add-pple-input" autocomplete="off" name="text" placeholder="" [(ngModel)]="searchText"  (ngModelChange)="initOrChangeUserList()"  (click)="toogleUserList()" >
                        <span class="cw_label_in">Send To</span>
                        <div class="drop_down_wrap" *ngIf="userlistingdrop">
                          <section class="drop_nav pubclose">
                            <ul>
                              <li [ngClass]="{active:activepubTab == 'pubAll'}">People</li>
                              <!-- <li [ngClass]="{active:activeRpTab == 'dept'}" (click)="activeRpTab = 'dept'">Departments</li> -->
                              <!-- <li [ngClass]="{active:activepubTab == 'pubSearch'}" (click)="activepubTab = 'pubSearch'">Search</li> -->
                            </ul>
                            <a class="close" (click)="closeUserList()">×</a>
                          </section>
                          <section class="drop_body">
                            <div *ngIf="activepubTab === 'pubAll'" class="recent_wrap cw_drop_wrap">
                              <section *ngFor="let user of taskDataService.responsiblePersons.list" [hidden]="user.existing" (click)="selectUser(user)">
                                <div *ngIf="user.employeeImage === null" class="recent_ico"></div>
                                <div *ngIf="user.employeeImage !== null" class="recent_ico" [ngStyle]="{'background-image': 'url(' + user.employeeImage + ')'}"></div>
                                {{user.employee_name}}
                              </section>
                          </div>
                           
                            <!-- <div *ngIf="activepubTab === 'pubSearch'" class="drop_search_wrap cw_drop_wrap">
                              <section *ngFor="let user of taskDataService.responsiblePersons.list"  [hidden]="user.existing" (click)="selectUser(user)">
                                <div class="recent_ico">

                                </div>
                                {{user.employee_name}}
                              </section>
                            
                            </div> -->
                          </section>
                        </div>
                      </div>
                      <section class="">
                        <div>
                          <section class="recent_ppl" *ngFor="let user of dataService.formSend.sendUsers;let idx=index" >
                            <div *ngIf="user.imageUrl === null" class="recent_ico"></div>
                             <div *ngIf="user.imageUrl !== null" class="recent_ico" [ngStyle]="{'background-image': 'url(' + user.imageUrl + ')'}"></div>
                            {{user.userName}}
                            <div>
                              <!-- <div class="user_count_input drop_dropdown_wrap drop_icon_input">
                                <input type="text" class="" name="text" [(ngModel)]="user.permissionDisplay" readonly  (click)="user.showPermission = !user.showPermission">
                                <div class="drop_drop_pop commonn_popup" *ngIf="user.showPermission">
                                  <section (click)="setPermission('view','Can View',idx)">
                                    Can View
                                  </section>
                                  <section (click)="setPermission('edit','Can Update',idx)">
                                    Can Update
                                  </section>
                                </div>
                              </div> -->
                            </div>
                            <div class="del_ico" (click)="removeUSer(idx)">
                            </div>

                          </section>
                      
                        </div>
                      </section>
                    </div>
                  </section>
                </div>
              </section>
            </div>
          </div>
        </div>

      </div>
      <div class="publish_form_wrap_footer">
        <ul>
          <li *ngIf="activeRpTab !== 'link'">
            <button class="publish_form_footer_next" (click)="SendForm()">Send</button>
          </li>
          <li>
            <button  class="publish_form_footer_cancel" (click)="cancelFormSend();">Cancel</button>
          </li>
        </ul>
      </div>
    </div>
  </perfect-scrollbar>
</div>