<div class="detail-tab-outer">
<div class="left-section">
  <div class="org-sec">
    <p>ORGANIZATION</p>
    <h6>Big Valley Conservatory</h6>
  </div>
  <div class="org-sec partner">
    <p>PARTNER</p>
    <div class="partner_img"></div>
    <h6>Marcruz cruz</h6>
  </div>
  <div class="org-sec">
    <p>USERS</p>
    <h6>127</h6>
  </div>
  <div class="org-sec">
    <p>KEY</p>
    <h6>HSHDUWK123KJHY</h6>
  </div>
  <div class="org-sec">
    <p>TYPE</p>
    <h6>Annual</h6>
  </div>
</div>
<div class="right-section">
  <div class="date-sec blue">
    <h6>REQUESTED ON</h6>
    <P>10 Jul 2019 <span class="pipe">|</span>10:30 AM</P>
  </div>
  <div class="date-sec blue">
    <h6>APPROVED ON</h6>
    <P>15 Jul 2019 <span class="pipe">|</span>10:30 AM</P>
  </div>
  <div class="date-sec green">
    <h6>STARTED ON</h6>
    <P>20 Jul 2019</P>
  </div>
  <div class="date-sec red">
    <h6>ENDS ON</h6>
    <P><span>25 Jul 2019</span>  </P>
  </div>
</div>
</div>
