          <div class="rating-outer" >
<div class="rate-type">
          <label>
              <div class="check_outer">
                <input  name="" type="radio" disabled=disabled class="">
                <div class="check"></div>
              </div>
            </label>
            <span class="input-title">Excellence</span>
          </div>
          <div class="rate-type">
              <label>
                  <div class="check_outer">
                    <input  name="" type="radio" disabled=disabled class="">
                    <div class="check"></div>
                  </div>
                </label>
                <span class="input-title">Positive</span>
              </div>
              <div class="rate-type">
                  <label>
                      <div class="check_outer">
                        <input  name="" type="radio" disabled=disabled class="">
                        <div class="check"></div>
                      </div>
                    </label>
                    <span class="input-title">Negative</span>
                  </div>
</div>

<!-- <div class="comment-area">
  <textarea rows=4  placeholder="Comments"   disabled=disabled></textarea>
</div> -->
