
.calendarOuter {
    width: 100%;
    background: #fff;
    height: 100%;
    //padding-left: 270px;
}
.work_panel_left {
    border-right: 1px solid #dde0e3;
    background-color: white;
    position: absolute;
    width: 20%;
    box-shadow: 10px 0px 30px -4px rgba(0, 0, 0, 0.1);
    height: 100%;
}
.work_panel_left_body {
    border-bottom: 1px solid #eaeaea;
}
.monthSelect {
    padding: 19.5px;
    background: #f4f4f4;
}
.monthOuter {
    text-align: right;
    position: relative;
}
.work_panel_right{
    width: 100%;
    padding-left: 21%;
    height: 100%;
    // overflow-x: scroll;
}
.alertIcon {
    background-image: url("/assets/images/settings/info_copy.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 17px;
    background-position: center;
    position: absolute;
    top: 22px;
    right: 155px;
    cursor: pointer;
}
.monthIcon {
    background-image: url("/assets/images/down-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 13px;
    background-position: center;
    position: absolute;
    top: 23px;
    right: 35px;
    cursor: pointer;
}
.monthSelect span {
    background: #fff;
    padding: 6px 40px;
    font-family: roboto-regular;
    font-size: 14px;
    padding-left: 20px;
    cursor: pointer;
    padding-right: 60px;
}
.weekHeadsOuter{
    // display: flex;
}
.weekHeads {
    // width: 100%;
    // padding: 5px;
    // font-size: 11px;
    // font-family: roboto-regular;
    // color: #414d5b;
    // border: 1px solid #eaeaea;
    // border-left: none;
    // padding-left: 12px;
    width: 14.28%;
    padding: 5px;
    font-size: 11px;
    font-family: roboto-regular;
    color: #414d5b;
    border: 1px solid #eaeaea;
    border-left: none;
    padding-left: 12px;
    display: inline-block;
    vertical-align: top;
    float: left;
}
.lightColor {
    position: relative;
    color: #cecece;
    border-right: 1px solid #eaeaea;
    //padding: 10px;
    display: inline-block;
    vertical-align: top;
    height: 19.8%;
    width: 14.28%;
    float: left;
    border-top: 0px solid;
    border-bottom: 1px solid #eaeaea;
}
.lightColor p
{
    padding: 5px 10px;
}
.lightColor.active
{
    height: 16.5%;
}
.darkColor {
    color: #414d5b;
    font-family: roboto-regular;
}
.datesOuter{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 83px);
    // max-width: 100%;
    // max-height: 100%;
}
span.leave{
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: #f0a7c4;
    z-index: 1;
    left: 0;
    top: 25px;
    text-align: left;
    padding: 6px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    padding-left: 12px;
}
.seminar{
    width: calc(100% + 1px);
    background-color: #007ae2;
    z-index: 1;
    left: -1px;
    text-align: left;
    color: white !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0px;
    margin-bottom: 5px;
    padding: 4px 10px;
    cursor:pointer;
}
.seminar img
{
    width:13px;
}
span.event1 {
    position: absolute;
    width: 14%;
    background-color: #ff2342;
    // z-index: 1;
    left: 0px;
    top: 22px;
    text-align: left;
    padding: 2px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    white-space: nowrap;
    border-radius: 3px;
    font-family: roboto-regular;
    padding-top: 4px;
    padding-left: 12px;
    padding-bottom: 2px;
}
span.event2 {
    position: absolute;
    width: 14%;
    background-color: #007ae2;
    // z-index: 1;
    left: 0px;
    top: 44px;
    text-align: left;
    padding: 1px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    white-space: nowrap;
    border-radius: 3px;
    font-family: roboto-regular;
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 3px;
}
.seminar img {
    margin-right: 5px;
}
.event1 img , .event2 img {
    margin-right: 3px;
}
.leave img {
    margin-right: 5px;
}
 li.event2.Details , li.event1.Details {
    background: none;
    color: #000;
}


span.dot {
    background: #ff2342;
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50%;
    border: 50%;
    left: 10px;
    top: 8px;
    padding-left: 0px !important;
}
 li.event2.Details {
    position: absolute;
    top: 35px;
}
li.event2.Details  , li.event3.Details{
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 134px;
    background: #f2f2f2 !important;
    padding: 3px;
    border-radius: 5px;
    margin-top: 36px;
}
li.event1.Details{
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 134px;
    background: #f2f2f2 !important;
    padding: 3px;
    border-radius: 5px;
    margin-top: 0px;
    position: relative;
}
.event1.Details , .event2.Details , .event3.Details {
    width: 94%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 0px;
    margin-bottom: 5px
}
// .Details li.redEvent {
//     position: absolute;
//     bottom: 16px;
//     width: 133px;
//     left: 14px;
// }
.Details li.event2.Details {
    position: absolute;
    /* bottom: 26px; */
    top: 36px;
}
li.event1 span.dot {
    top: 6px;
    left: 8px;
}
.event1 span , .event2 span {
    padding-left: 20px;
    font-size: 12px;
}
.event3 span {
    padding-left: 5px !important;
    font-size: 11px;
}
.event2.Details span.dot {
    background: #8cc4f7;
}
.popcontent.Details span.eventContent {
    bottom: -15px;
}
.event3.Details {
    position: absolute;
    bottom: 0px;
    font-size: 11px;
    left: -7px;
    background: none;
    color: #414d5b;
    font-family: roboto-regular;
    text-align: left;
    margin-left: 0px;
    padding-left: 15px;
}

 .event3.Details span.dot.popView  {
    top: 3px;
    background: #8ac2f4;
    left: 5px;
}
.event3.Details span.dot {
    top: 3px;
    background: #8ac2f4;
    left: 7px;
}
.darkColor:last-child {
    border-right: none;
}
li.event3.Details {
    position: relative;
}
.dateHeads .popcontent.Details {
    // position: absolute;
    // top: 25px;
}
 li.event2.Details , li.event1.Details , li.event3.Details {
    background: none;
    color: #414d5b;
    font-family: roboto-regular;
    text-align: left;
    margin-left: 0px;
    padding-left: 10px;
}
.popcontent div {
    position: relative;
    color: #afafaf;
    font-family: roboto-light;
}
span.eventContent {
    //position: absolute;
    color: #007ae2;
    font-family: roboto-regular;
    bottom: 0px;
	cursor: pointer;
    font-size: 11px;
    padding-left: 10px;
}
.eventDetails {
    background: #fff;
    //position: absolute !important;
    bottom: 15px;
    width: 160px;
    left: 30px;
    //height: 170px;
    z-index: 11;
    box-shadow: 2px 2px 17px 3px #cecece;
}
.popcontent.Details .eventDetails {
    background: #fff;
    //position: absolute;
    top: 3px;
    width: 160px;
    left: 0px;
    //height: 170px;
    z-index: 111;
    box-shadow: 0px 30px 114px 0px rgba(0, 0, 0, 0.1);
}


.closeIcon {
    background-image: url("/assets/images/searchClosedark.png");
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 13px;
    /* margin-right: 11px; */
    margin-left: 12px;
	cursor: pointer;
}
// .eventOverlay{
//     // background-color: rgba(0,0,0,0.4);
//     // z-index: 999999999;
//     position: fixed;
//     width: 50%;
//     height: 50%;
//     left: 0;
//     /* top: 0; */
//     right: 0;
//     bottom: 0;
// }
.commonOverlay{
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 0%;
    right: 1%;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
}
// .eventOverlayTop{
//     position: fixed !important;
//     width: 30%;
//     height: 50%;
//     top: 33%;
//     right: 1%;
//     z-index: 4;
// }
.eventDetails span.dot {
    left: 9px;
    top: 6px;
}
.dateOuter {
    display: flex;
}
.popcontent .eventDetails span.dot.popView {
    top: 7px !important;
    padding-left: 0px !important;
    left: 9px !important;
}
.eventDetails .event3 span {
    padding-left: 12px!important;
}
.eventDetails li.event3.Details {
    left: 0px;
}
.datesOuter .dateHeads .dateOuter {
    color: #414d5b;
    font-size: 23px;
    font-family: roboto-regular;
	border: none;
    height: auto;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 3px 10px;
}
.eventDetails ul {
    margin-left: 13px;
    margin-right: 13px;
}
li.redEvent {
    background: #f5223f;
    color: #fff;
    font-size: 11px;
    padding: 4px;
    /* font-family: roboto-regular; */
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 3px;
}
li.blueEvent {
    color: #fff;
    font-size: 11px;
    padding: 4px;
    /* font-family: roboto-regular; */
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 3px;
    background: #0075d9;
}

.dateOuter span {
    font-size: 13px;
}
.dateHeads {
    width: 100%;
    // height: 83px;
    font-size: 12px;
    position: relative;
    font-family: roboto-regular;
    border: 1px solid #eaeaea;
    border-left: none;
    height: 100%;
    // padding: 7px 13px;
    border-top: none;
    // white-space: nowrap;
}
.dateHeads {
    // display: flex;
}

//legend popup

.legendPop {
    background: #fff;
    position: absolute;
    right: 45px;
    width: 50%;
    height: auto;
    top: 10px;
    z-index: 2;
    box-shadow: 2px 2px 17px 3px #cecece;
}
.legendContent {
    text-align: left;
    font-size: 14px;
    color: #75818f;
    font-family: roboto-medium;
    display: flex;
    padding: 10px;
}
.legendHead {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    text-transform: uppercase;
    font-family: roboto-medium;
    color: #536273;
    border-bottom: 1px solid #eaeaea;
    /* padding-bottom: 12px; */
    padding: 15px;
    padding-left: 19px;
}
.legendHead p.closeIcon {
    margin-top: 0px;
    width: 13px;
    height: 13px;
}
.legendContent {
    text-align: left;
    font-size: 14px;
    color: #75818f;
    font-family: roboto-medium;
    display: flex;
}
// .legendOverlay{
//     position: fixed;
//     width: 50%;
//     height: 32%;
//     right: 14px;
//     top: 30%;
//     z-index: 3;
// }
.legendData.Starting {
    margin-top: 20px;
}
.legendData.Ending {
    margin-bottom: 20px;
}

.legendIcon {
    background-image: url("/assets/images/grey-calendar.png");
    width: 27px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 13px;
    margin-right: 15px;
    margin-left: 10px;
}
.legendContent:nth-child(3) .legendIcon {
    background-image: url("/assets/images/grey-man.png");
    width: 27px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0px;
}
.legendData {
    margin-top: 5px;
    color: #536273;
}
.legendIcon.Dot {
    background-color: #ff6f6f;
    background-image: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 24px;
    margin-top: 10px;
    margin-right: 21px;
}
.legendIcon.Last{
	background-color: #8cc4f7;
    background-image: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 24px;
    margin-top: 10px;
    margin-right: 21px;
}
@media (max-width: 1920px){
    .closeIcon {
        background-image: url("/assets/images/searchClosedark.png");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 13px;
        margin-left: 0px;
        cursor: pointer;
    }
}
.selectOuter ul {
    background: #fff;
    position: absolute;
    /* border: 1px solid; */
    z-index: 2;
    /* text-align: right; */
    right: 15px;
    top: 15px;
    width: 15%;
    box-shadow: 2px 2px 17px 3px #cecece;
    list-style: none;
}
.selectOuter li {
    padding: 10px 10px 10px 15px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0px;
    color: #27456a;
    font-family: roboto-medium;
    cursor: pointer;
}
.selectOuter li:hover {
    background: #f4f4f4;
    transition: all 0.4s ease-out;
}

@media (max-width: 1366px){

    .calendarContent {
        position: relative;
        width: 100%;
        padding-left: 0%;
        height: calc(100vh - 157px);
    }
    .seminar{
        width: calc(100% + 1px);
        background-color: #007ae2;
        z-index: 1;
        left: -1px;
        text-align: left;
        color: white !important;
        overflow: hidden;
        top: -4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 0px;
        margin-bottom: -5px;
        padding: 4px 10px;
        /* font-size: 12px !important; */
        cursor: pointer;
        font-size: 11px;
    }

    .eventDetails ul {
        padding-left: 9px;
        padding-right: 13px;
        margin: 0px;
    }
    
    .datesOuter .dateHeads .dateOuter{
        color: #414d5b;
        font-size: 23px;
        font-family: roboto-regular;
        border: none;
        height: auto;
        margin-bottom: 0px;

    }
    li.event2.Details, li.event1.Details, li.event3.Details {
        background: none;
        color: #414d5b;
        font-family: roboto-regular;
        text-align: left;
        margin-left: 0px;
        padding-left: 10px;
        margin-bottom: 3px;
        word-break: break-word;
    }

    li.redEvent {
        background: #f5223f;
        color: #fff;
        font-size: 11px;
        padding: 4px;
        padding-left: 10px;
        border-radius: 5px;
        margin-bottom: 3px;
        word-break: break-word;
    }

    .popcontent.Details .eventDetails {
        background: #fff;
        top: -140px;
        width: 160px;
        padding-bottom: 7px;
        left: 0px;
        z-index: 111;
        box-shadow: 0px 30px 114px 0px rgba(0, 0, 0, 0.1);
    }

    .event1 span, .event2 span {
        padding-left: 20px;
        font-size: 11px;
    }
    .seminar img {
        width: 10px;
    }
    span.eventContent {
        color: #007ae2;
        font-family: roboto-regular;
        bottom: 0px;
        cursor: pointer;
        font-size: 11px;
        padding-left: 20px;
    }
    
    .popcontent.Details span.eventContent {
        bottom: -15px;
        font-size: 10px;
    }

    .event1.Details, .event2.Details, .event3.Details {
        width: 94%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 4px 0px;
        margin-bottom: -7px;
    }
}