.workflow_wrap {
    background-color: #f0f0f0;
    position: relative;
    width: 100%;
}

.workflow_wrap_body {
    background-color: #fff;
    position: relative;
    width: 100%;
    padding: 15px;
    float: left;
    display: block;
}