
<div class="filter_cancel_overlay" (click)="superAdminDataService.changePassword.show = false"></div>
<div class="change_password_pop_wrap">
  <div class="change_password_head">
    <h4>Change Password</h4>
    <a class="close" (click)="superAdminDataService.changePassword.show = false">&times;</a>
  </div>
  <div class="change_password_contents">
    <div class="change_password_content_row">
      <div class="change_password_input_holder">
        <input class="change_password_input_field" type="password" placeholder="Old Password" name="name" >
      </div>

    </div>
    <div class="change_password_content_row">
      <div class="change_password_input_holder">
        <input class="change_password_input_field" type="password" placeholder="New Password" name="name" >
      </div>
    </div>
    <div class="change_password_content_row">
      <div class="change_password_input_holder">
        <input class="change_password_input_field" type="password" placeholder="Re-Type New Password" name="name" >
      </div>
    </div>

  </div>
  <div class="change_password_footer">
    <div class="save_button">
      <button >Save</button>
    </div>
    <div class="cancel_button">
      <button (click)="superAdminDataService.changePassword.show = false">Cancel</button>
    </div>
  </div>
</div>
