ul,
ol {
    list-style-type: none;
}
@media (max-width : 1366px){
   .change_password_pop_wrap {
        position: absolute;
        top: 80px !important;
        width: calc(100% - 250px) !important;
        /* height: 100vh; */
        background: #fff;
        z-index: 99999;
    }
}
.change_password_pop_wrap {
    position: absolute;
    top: 105px;
    width: calc(100% - 305px);
    background: #fff;
    z-index: 99999;
}
.change_password_head {
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    -webkit-box-shadow: -10px 20px 68px -28px rgba(34, 34, 34, 0.35);
    -moz-box-shadow: -10px 20px 68px -28px rgba(34, 34, 34, 0.35);
    box-shadow: -10px 20px 68px -28px rgba(34, 34, 34, 0.35);
    z-index: 1;
}

.change_password_head h4 {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #424e5c;
}

.change_password_head .close {
    position: absolute;
    right: 34px;
    color: #424e5c;
    text-decoration: none;
    font-size: 34px;
    font-weight: 200;
    top: 0;
}

.change_password_contents {
    background-color: #fff;
    position: relative;
}

.change_password_contents {
    padding: 0px 30px 60px 30px;
    margin-top: 30px;
    padding-bottom: 100%;
}

.change_password_input_holder {
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #f2f2f2;
    height: 50px;
    line-height: 50px;
}

.change_password_input_holder .change_password_input_field {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
@media (max-width: 1366px){
    .change_password_pop_wrap .change_password_footer {
        position: fixed;
        padding-left: 30px;
        height: 60px;
        line-height: 60px;
        display: flex;
        width: calc(100% - 250px) !important;
        left: 234px !important;
        bottom: 0px;
        background-color: #fff;
        -webkit-box-shadow: 0px -5px 31px -9px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px -5px 31px -9px rgba(0, 0, 0, 0.3);
        box-shadow: 0px -5px 31px -9px rgba(0, 0, 0, 0.3);
    }
}
.change_password_footer {
    position: fixed;
    padding-left: 30px;
    height: 60px;
    line-height: 60px;
    display: flex;
    width: calc(100% - 303px) !important;
    left: 284px !important;
    bottom: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0px -5px 31px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -5px 31px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -5px 31px -9px rgba(0, 0, 0, 0.3);
}
.save_button button {
    line-height: 30px;
    height: 30px;
    min-width: 100px;
    background-color: #ff2e4c;
    color: #fff;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
}

.cancel_button button {
    min-width: 100px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: #424242;
    margin-left: 20px;
}
.filter_cancel_overlay {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 99;
}
.common_overlay {
    background-color: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}
