.license-detail-popup
{
width: calc(100% - 248px);
right: 14px;
top:100px;
background-color: #fff;
height: 100vh;
z-index: 111111;
position: absolute;
}
.overlay
{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 11111;
    bottom: 0;
  }
.pop-head
{
  width: 100%;
  position: relative;
  padding: 20px;
}
.pop-head h4{
  color: #5e6c7c;
  font-family: Roboto-medium;
  font-weight: 400;
}
.pop-head p
{
  color: #ff4b62;
  font-size: 14px;
  margin: 10px 0;
}
.pop_close
{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 11;
  background-image: url(/assets/images/pop_close.png);
  background-repeat: no-repeat;
}
.nav ul li{
  color: #bdc2c8;
  display: inline-block;
  margin: 0 25px;
  padding: 20px 0;
  cursor: pointer;
  font-size: 16px;
  font-family: Roboto-medium;
}
.nav{
  padding: 0;
}
.nav ul
{
  border-bottom: 1px solid #f2f4f9;

}
 .active
{
  border-bottom: 3px solid #ff2e4c !important;
  // font-weight: bold;
  color: #424e5c !important;
}
.pop-footer
{

  position: fixed;
  bottom: 0px;
  background-color: #fff;
  padding:  15px 20px;
  width: calc( 100% - 248px);
  right: 14px;
  z-index: 1;
  transition: all ease 0.2s;
  -webkit-box-shadow: 0px -5px 31px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -5px 31px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -5px 31px -9px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width:1366px)
{
  .license-detail-popup
  {
    top: 80px;
  }
  .pop-inner
  {
    overflow: auto;
    height: 435px;
}
.nav ul li
{
  font-size: 14px;
}
}

