<div class="nav_wrap">
  <ul>
    <a routerLink="./as_recent" routerLinkActive="as_tab">
      <li>Recent</li>
    </a>
    <a routerLink="./as_top" routerLinkActive="as_tab">
      <li>Top</li>
    </a>
    <a routerLink="./as_announcement" routerLinkActive="as_tab">
      <li>Announcement</li>
    </a>
    <a routerLink="./as_task" routerLinkActive="as_tab">
      <li>Task</li>
    </a>
    <!-- <a routerLink="./as_workflow" routerLinkActive="as_tab">
      <li>Workflow</li>
    </a> -->
  </ul>
  <!-- <div class="search_wrap" [ngClass]="{'open':this.showSearch}">
    <div class="search_icon" (click)="this.showSearch = true"></div>
    <div class="search_close" (click)="this.showSearch = false"></div>
    <input type="text" placeholder="Search">
  </div> -->
</div>