.popup
{
height: 495px;
width: 400px;
background-color: #fff;
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
z-index: 1111111;
top: 100px;
}
.overlaypop
{
  z-index: 1111;
}
.popup-header-outer h4{
  color: #424e5c;
  font-family: Roboto-Regular;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
}
.popup-header-outer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid #e8eaec;
}
.overlaypop {
  background-color: rgba(0,0,0,0.4);
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.pop_close{
  background-image: url(/assets/images/pop_close.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.popup-details
{
  padding: 20px 20px 10px 20px;
}
.person-details
{
  position: relative;
}
.person-details h4
{
  color: #75818f;
  font-family: Roboto-Regular;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
}
.profile-details
{
  position: relative;
  padding: 10px 10px 10px 50px;
  margin-top: 10px;
}

.profile-image
{
  background-image: url(/assets/images/all/tdp1.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
  background-position: center;
}
.profile-name
{
  color: #424e5c ;
  font-family: Roboto-medium;
  font-size: 14px;
  text-align: left;
}
.time-details, .leave-type
{
padding-top: 25px;
}
.time-details h4, .leave-type h4{
  margin-bottom: 20px;
}
.timeFromTo
{
  margin: 10px 0;
}
.from
{
min-width: 60px;
color: #75818f;
  font-family: Roboto-medium;
  font-size: 14px;
  text-align: left;
  display: inline-block;
}
.date, .time, .leave-type-detail
{
  color: #424e5c;
  font-family: Roboto-medium;
  font-size: 14px;
  text-align: left;
}
.date_halfday
{
  color: #424e5c;
  font-family: Roboto-medium;
  font-size: 14px;
  text-align: left;
}
.date::after
{
  content: '|';
  margin: 0 10px;
}
.popup-footer
{
  border-top: 1px solid #e8eaec;
  padding: 10px;
  display: inline-block;
  width: 100%;
  background-color: #fff;
}
.leave-type-icon
{
  width: 10px;
  height: 10px;
  margin: 0 20px 0 0;
  display: inline-block;
  background-color: #f0f117;
}
.absent-reason
{
  margin-bottom: 10px;
}
.popup-footer .pbtncreate
{
  display: inline-block;
  margin: 0 auto;
}
.req-cancel {
  line-height: 34px;
  height: 40px;
  width: 117px;
  color: #536273;
  border: 1px solid #536273;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  transition: all ease 0.2s;
  background-color: #fff;
}
.req-cancel:hover {
  transition: all ease 0.2s;
  background-color: #536273;
  color: #fff;
}
