<div class="overlaypop" (click)="closeEmpDetail()"></div>
<div class="popup">
  <div class="popup-header-outer">
    <h4>Request Details</h4>
    <div class="pop_close" (click)="closeEmpDetail()"></div>
  </div>
  <div class="popup-details">
    <div class="person-details">
      <h4>PERSON</h4>
      <div class="profile-details">
        <div *ngIf="hrmDataService.requestDetails.requestToImage === null" class="profile-image"></div>
        <div *ngIf="hrmDataService.requestDetails.requestToImage !== null" class="profile-image" [ngStyle]="{'background-image': 'url(' + hrmDataService.requestDetails.requestToImage + ')'}"></div>
        <span class="profile-name">{{hrmDataService.requestDetails.requestToName}}</span>
      </div>
      <div class="time-details">
        <h4>TIME</h4>
        <div *ngIf = "hrmDataService.requestDetails.startsOnHalfDay === true" class="timeFromTo">
            <span class="from">From:</span><span class="date">{{hrmDataService.requestDetails.dateFrom * 1000 | date:'MMM dd, yyyy'}}</span><span class="time">Half Day</span>
        </div>
        <div *ngIf = "hrmDataService.requestDetails.startsOnHalfDay === false" class="timeFromTo">
            <span class="from">From:</span> <span class="date_halfday">{{hrmDataService.requestDetails.dateFrom * 1000 | date:'MMM dd, yyyy'}}</span>
          </div>
          <div *ngIf = "hrmDataService.requestDetails.endsOnHalfDay === true" class="timeFromTo">
            <span class="from">To: </span><span class="date"> {{hrmDataService.requestDetails.dateTo * 1000 | date: 'MMM dd, yyyy'}}</span><span class="time">Half Day</span>
        </div>
        <div *ngIf = "hrmDataService.requestDetails.endsOnHalfDay === false" class="timeFromTo">
            <span class="from">To: </span><span class="date"> {{hrmDataService.requestDetails.dateTo * 1000 | date: 'MMM dd, yyyy'}}</span><span class="time">Half Day</span>
          </div>
   </div>
      <div class="leave-type">
        <h4>TYPE OF ABSENCE</h4>
        <div class="absent-reason">
          <span class="leave-type-icon" [ngStyle]="{'background-color': hrmDataService.requestDetails.colorCode}"></span><span
            class="leave-type-detail">{{hrmDataService.requestDetails.leaveType}}</span>
        </div>
      </div>
      <div class="leave-type">
        <h4>REASON</h4>
        <div class="absent-reason">
          <span class="leave-type-detail">{{hrmDataService.requestDetails.reason}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-footer">
    <button class="pbtncreate" *ngIf = "hrmDataService.requestDetails.isApprove === true" (click)="approveLeave()">Approve</button>
    <button class="req-cancel" (click)="cancelLeave()">Decline</button>
  </div>
  <div class="confirm_popup" *ngIf="hrmDataService.reqConformPopup.show">
    <div class="confirm_pop_body">
      <section>
        <div class="close_drop" (click)="hrmDataService.reqConformPopup.show = false">
        </div>
        <p class="pop_main">{{hrmDataService.deleteMessage.msg}}</p>
      </section>
      <section>
        <div class="confirm_pop_btn" *ngIf="hrmDataService.leaveCreate.action === 'aprove'" (click)="conformApprove()">
          Confirm
        </div>
        <div class="confirm_pop_btn" *ngIf="hrmDataService.leaveCreate.action === 'cancel'" (click)="conformCancel()">
          Confirm
        </div>
        <div class="confirm_pop_btn" (click)="hrmDataService.reqConformPopup.show = false">
          Cancel
        </div>
      </section>
    </div>
  </div>
</div>
