<div class="history">
    <div class="historyHead">
        <div class="tableHead">
            <span class="downArrow">TYPE</span>
        </div>
        <div class="tableHead">
            <span class="downArrow">MAX USERS</span>
        </div>
        <div class="tableHead">
            <span class="downArrow">REQUESTED ON</span>
        </div>
        <div class="tableHead">
            <span class="downArrow">APPROVED ON</span>
        </div>
        <div class="tableHead">
            <span class="downArrow">STARTED ON</span>
        </div>
        <div class="tableHead">
            <span class="downArrow">EXPIRED ON</span>
        </div>
      </div>
      <div class="historyContent">
        <div class="historyRow">
            <div class="tableHead Content">
                <p class="downArrow">Annual</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">100</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2018 | 12:32 AM</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2018 | 12:32 AM</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2019 <span class="status">Upcoming</span></p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow expireDate">10 Jul 2019 <span class="status">Upcoming</span></p>
            </div>
        </div>
        <div class="historyRow">
            <div class="tableHead Content">
                <p class="downArrow">Annual</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">100</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2018 | 12:32 AM</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2018 | 12:32 AM</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2019 <span class="current">Approved</span></p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2019 <span class="status">Upcoming</span></p>
            </div>
        </div>
        <div class="historyRow">
            <div class="tableHead Content">
                <p class="downArrow">Annual</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">100</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2018 | 12:32 AM</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2018 | 12:32 AM</p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2019 <span class="status">Upcoming</span></p>
            </div>
            <div class="tableHead Content">
                <p class="downArrow">10 Jul 2019 <span class="status">Upcoming</span></p>
            </div>
        </div>
      </div>
</div>
