<div class="iCosys-body-wrapper" id="iCosys_body_wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title ph3inline">Country</h3>
        <div class="panel-right-holder pbtnsinline">
            <button class="pbtnfilter" (click)="showPop()">Add Country</button>
            <div class="createNew" *ngIf="superAdminDataService.createCountry.show">
               <app-create-country></app-create-country>
            </div>
        </div>
        </div>
    </div>
    <!--table head starts-->
    <div class="drive_wrap">
        <div class="table_outer_block">
          <div class="table_head table_row Header">
            <!-- <div class="table-blocks">
              <div class="checkbox">
                <label>
                  <div class="check_outer">
                    <input type="checkbox" id="1_in" name="" id=""/>
                    <div class="check" for="1_in"></div>
                  </div>
                </label>
              </div>
            </div> -->
            <div class="table-blocks Organisation">
              <span class="tb_head_drop_arrow">NAME</span>
            </div>
          </div>
        </div>
   <!--table head ends-->
        <div class="table_outer_block Content">
          <div class="table_head table_row" *ngFor="let Country of superAdminDataService.getCountryList.countries;let i = index" >
           <!-- <div class="table-blocks">
              <div class="checkbox">
                <label>
                  <div class="check_outer">
                    <input type="checkbox" id="1_in" name="" id=""/>
                    <div class="check" for="1_in"></div>
                  </div>
                </label>
              </div>
            </div> -->
            <div class="table-blocks Name">
                <span>{{Country.name}}</span>
            </div>
            <div class="table-blocks clickButton">
              <div class="dotImage" (click)="superAdminDataService.optionBtn[i] = !superAdminDataService.optionBtn[i]"></div>
              <div class="filter_cancel_overlay"  *ngIf="superAdminDataService.optionBtn[i]" (click)="superAdminDataService.optionBtn[i] = false"></div>
              <div class="edt_opt_r" *ngIf="superAdminDataService.optionBtn[i]">
                <section (click)="update(Country, i)">
                  Edit
                </section>
                <section (click)="deleteCountry(Country.slug, i)">
                  Delete
                </section>
              </div>
            </div>
           </div>
          <div class="confirm_popup" *ngIf="superAdminDataService.deletePopUp.show">
            <div class="confirm_pop_body">
              <section>
                <div class="close_drop" (click)="cancelDelete()">
                </div>
                <p class="pop_main">{{superAdminDataService.deleteMessage.msg}}</p>
              </section>
              <section>
                <div class="confirm_pop_btn" (click)="conformCountryDelete()">
                  Confirm
                </div>
                <div class="confirm_pop_btn" (click)="cancelDelete()">
                  Cancel
                </div>
              </section>
            </div>
          </div>
        </div>
    </div>
</div>
