<div class="modalOuter" (click)="closeDetails()"></div>
<div class="publish-pop">
  <div class="nav_wrap">
    <ul>
      <a>
        <li>Individual Response</li>
      </a>
    </ul>
  </div>
  <div>
    <div class="form_indi_header">
      <div class="form_indi_header_left">
        <ul>
          <li class="form_indi_header_left_count">
            <ul>
              <li>
                <button class="prev">
                  <!-- <img [src]="assetUrl+'assets/images/prev.png'"/> -->
                </button>
              </li>
              <li>
                <p>1 of 13</p>
              </li>
              <li>
                <button class="next">
                  <!-- <img [src]="assetUrl+'assets/images/next.png'"/> -->
                </button>
              </li>
            </ul>
          </li>
          <li class="indi_res_profile" >
            <ul>
              <li>
                <span class="indi_user">User:</span>
              </li>
              <li class="pic">
                <!-- <img class="indi_dp" [src]="assetUrl+'assets/images/all/tdp6.png'"/> -->
              </li>
              <li>
                <p>Peter Palmer</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="form_indi_header_right">
        <ul>
          <li>
            <p class="indi_date">14 Jul 2018</p>
          </li>
          <li>
            <span class="indi_submitted_date">Submitted Date:</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="form_indi_body">
      <div class="indi_res_titlewrap indi_bodysection_pad">
        <label>Enter Title</label>
        <input type="text" placeholder="Lorem Ipsum">
      </div>
      <div class="indi_res_titlewrap indi_bodysection_pad">
        <label>Enter No.</label>
        <h4>123</h4>
      </div>
      <div class="indi_res_titlewrap indi_bodysection_pad">
        <label>Select your choices</label>
        <div class="choiceOuter">
          <div class="checkbox">
            <label>
              <div class="check_outer">
                <input type="checkbox" id="1_in" name="" id="">
                <div class="check" for="1_in"></div>
              </div>
            </label>
          </div>
          <h4>Lorem Ipsum</h4>
        </div>
        <div class="choiceOuter">
          <div class="checkbox">
            <label>
              <div class="check_outer">
                <input type="checkbox" id="1_in" name="" id="">
                <div class="check" for="1_in"></div>
              </div>
            </label>
          </div>
          <h4>Lorem Ipsum</h4>
        </div>
        <div class="choiceOuter">
          <div class="checkbox">
            <label>
              <div class="check_outer">
                <input type="checkbox" id="1_in" name="" id="">
                <div class="check" for="1_in"></div>
              </div>
            </label>
          </div>
          <h4>Lorem Ipsum</h4>
        </div>
      </div>
      <div class="indi_res_websitewrap indi_bodysection_pad">
        <label>Enter Website</label>
        <h4 class="indi_webite_link">www.example.com</h4>
      </div>
    </div>
  </div>
</div>